
		</div> <!-- inside -->
	</div><!-- container -->

	<footer class="footer">
		<span class="fl-l footer-text">Учебный центр «Глобал-Тендер» &copy; 2010 - {% now "Y" %}</span>

		{% if request.path != '/contacts/' %}
			<div class="hidden-contacts" itemscope itemtype="https://schema.org/Organization">
				<span itemprop="name">Учебный центр «Глобал-Тендер»</span>
				<div itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
					<span itemprop="streetAddress">ул.Серафимовича, д.58А, к.502, эт.5</span>
					<span itemprop="postalCode">344002</span>
					<span itemprop="addressLocality">Ростов-на-Дону</span>,
				</div>
				<span itemprop="telephone">+74951250905</span>,
				<a href="mailto:global-tender@yandex.ru" itemprop="email">global-tender@yandex.ru</a>
			</div>
		{% endif %}
	</footer>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="/static/js/plugins/vendor/jquery-1.11.3.min.js"><\/script>')</script>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/0.9.0/jquery.mask.min.js"></script>

	<!-- Add fancyBox main JS and CSS files -->
	<script type="text/javascript" src="/static/js/plugins/fancybox/jquery.fancybox.pack.js?v=2.1.5"></script>
	<link rel="stylesheet" type="text/css" href="/static/js/plugins/fancybox/jquery.fancybox.css?v=2.1.5" media="screen" />

	{% if request.path == '/feedback/' and request.user_agent.is_mobile == False %}
		<script type='text/javascript' src='/static/js/plugins/highslide/highslide-with-gallery.packed.js'></script>
		<script type='text/javascript' src='/static/js/plugins/highslide/highslide.config.js'></script>
		<link href='/static/js/plugins/highslide/highslide.css' rel='stylesheet'>
	{% endif %}

	{% if '/seminars/' in request.path %}
		<script type='text/javascript' src='/static/js/plugins/js.cookie-2.0.4.min.js'></script>
	{% endif %}

	{% if request.path == '/feedback/' and request.user_agent.is_mobile == True %}
		<script type='text/javascript' src='/static/js/configs/feedback.js'></script>
	{% endif %}


	<script type='text/javascript' src="/static/js/main.js"></script>

	<script src="/static/js/plugins/vendor/modernizr-2.8.3.min.js"></script>


	<!-- fonts -->
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">



<!-- Yandex.Metrika informer --><script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter22043605 = new Ya.Metrika({id:22043605, webvisor:true, clickmap:true, trackLinks:true, accurateTrackBounce:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><!-- /Yandex.Metrika counter -->

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
	(function (d, w, c) {
		(w[c] = w[c] || []).push(function() {
			try {
				w.yaCounter33786709 = new Ya.Metrika({
					id:33786709,
					clickmap:true,
					trackLinks:true,
					accurateTrackBounce:true,
					webvisor:true
				});
			} catch(e) { }
		});

		var n = d.getElementsByTagName("script")[0],
		s = d.createElement("script"),
		f = function () { n.parentNode.insertBefore(s, n); };
		s.type = "text/javascript";
		s.async = true;
		s.src = "https://mc.yandex.ru/metrika/watch.js";

		if (w.opera == "[object Opera]") {
			d.addEventListener("DOMContentLoaded", f, false);
		} else { f(); }
	})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/33786709" style="position:absolute; left:-9999px;" alt="metrika" /></div></noscript>
<!-- /Yandex.Metrika counter -->

</body>
</html>