		<header class="menu {{menu_color_class}} {{menu_inner}}">
			<nav>
				<ul class="menu-ul">
					<li class="menu-li" title="Главная"><a href="/">Главная</a></li>
					<li class="menu-li" title="Расписание семинаров"><a href="/seminars/">Семинары</a></li>
					<li class="menu-li" title="Отзывы"><a href="/feedback/">Отзывы</a></li>
					<li class="menu-li" title="Контакты"><a href="/contacts/">Контакты</a></li>
					<li class="menu-li" title="Задать вопрос"><a href="#" class="ask-question" title="Задать вопрос" onclick="return showAskQuestion();">Задать вопрос</a></li>
					{% if not request.user.is_authenticated %}
						<li style="display: none;" class="menu-li" title=""><a href="#" data-open-popup="signup" class="header__link">Зарегистрироваться</a></li>
						<li style="display: none;" class="menu-li" title=""><a href="#" data-open-popup="signin" class="header__link">Войти</a></li>
					{% endif %}
				</ul>
			</nav>
		</header>