<table class="seminar-table">
	<tr>
		<td>Время</td>
		<td>Тема</td>
	</tr>
	<tr>
		<td>10:30 – 11:00</td>
		<td>
			Регистрация участников
		</td>
	</tr>
	<tr>
		<td>11:00 – 11:05</td>
		<td>
			Приветственное слово участникам семинара
		</td>
	</tr>
	<tr>
		<td>11:05-13:00</td>
		<td>
			<ul>
				<li>Федеральный закон от 18 июля 2011 г. 223-ФЗ «О закупках товаров, работ, услуг отдельными видами юридических лиц»</li>
				<li>Новые нормы и правила осуществления закупок, сроки и порядок вступления в силу изменений в федеральный закон 223-ФЗ:
					<ul>
						<li>Порядок подготовки и проведения процедур закупки (включая способы закупки) и условия их применения.</li>
						<li>Последовательность, продолжительность и содержание процедур, оформляемые документы. Требования к содержанию протоколов.</li>
						<li>Установление требований к участникам закупки.</li>
						<li>Критерии и порядок оценки заявок.</li>
						<li>Порядок заключения и исполнения договоров.</li>
						<li>Особенности расторжения заключенных договоров.</li>
						<li>Дробление закупок на мелкие суммы.</li>
						<li>Дополнительные соглашения к заключенным сделкам.</li>
						<li>Требования к участникам размещения заказа, отклонение заявок на стадии рассмотрения.</li>
						<li>Техническое задание как наиболее проблемный раздел документации о закупке.</li>
						<li>Новые правила формирования ежемесячных отчетов о закупках.</li>
					</ul>
				</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td>13:00 – 14:00</td>
		<td>Кофе-брейк</td>
	</tr>
	<tr>
		<td>14:00 – 16:00</td>
		<td>
			<ul>
				<li>Вопросы административной ответственности Заказчика. КоАПы.</li>
				<li>Порядок осуществления контроля. Роль ФАС России в системе контроля корпоративных закупок. Функции ФАС России при проведении плановых и внеплановых проверок отдельных видов юридических лиц.</li>
				<li>Штрафные санкции за нарушение норм и требований Федерального закона и иных принятых в соответствии с ним нормативных правовых актов Российской Федерации</li>
				<li>Предмет и порядок обжалования действий (бездействий) заказчика при закупке товаров, работ, услуг.</li>
				<li>Реестр недобросовестных поставщиков (по 44-ФЗ и 223-ФЗ).</li>
				<li>Типичные нарушения заказчиков при размещении заказов.</li>
				<li>Практика обжалований. Подготовка заказчика к защите своих интересов в случае подачи участником закупочной процедуры жалобы или иска.</li>
				<li>Установление в положении о закупке требований, защищающих права и интересы заказчика: требований к участникам закупок, к обеспечению закупки, а также к порядку заключения и исполнения договоров.</li>
				<li>Порядок соблюдения норм и требований 135-ФЗ «О защите конкуренции».</li>
				<li>Ответы на вопросы участников.</li>
			</ul>

			{% include 'static/ask_lektor_button.html' %}
		</td>
	</tr>
</table>