<table class="seminar-table">
	<tr>
		<td>Время</td>
		<td>Тема</td>
	</tr>
	<tr>
		<td>10:00-10:30</td>
		<td>
			Регистрация участников
		</td>
	</tr>
	<tr>
		<td>10:30-10:35</td>
		<td>
			Приветственное слово участникам семинара
		</td>
	</tr>
	<tr>
		<td>10:35-12:30</td>
		<td>
			<ul>
				<li>Федеральный закон от 18 июля 2011 г. 223-ФЗ «О закупках товаров, работ, услуг отдельными видами юридических лиц»</li>
				<li>Правовая основа закупки товаров, работ, услуг. Основания и возможности проведения бюджетными учреждениями закупок по 223-ФЗ.</li>
				<li>Основные нормы и правила, сроки и порядок вступления в силу федерального закона  223-ФЗ</li>
				<li>Цели и отношения, регулируемые Федеральным  законом  223-ФЗ от 18.07.2011</li>
				<li>Общие принципы закупки товаров, работ, услуг</li>
				<li>Основные требования к закупке товаров, работ, услуг</li>
				<li>Неурегулированные вопросы закона.</li>
				<li>Вопросы, планируемые к внесению в законодательство.</li>
				<li>Изменения 223-ФЗ. КоАПы;</li>
				<li>Проекты Постановлений Правительства РФ</li>
				<li>Порядок осуществления контроля. Роль ФАС России в системе контроля корпоративных закупок после вступления в силу Федерального закона от 18 июля 2011 г. 223-ФЗ «О закупках товаров, работ, услуг отдельными видами юридических лиц». Функции Федеральной антимонопольной службы при проведении плановых и внеплановых проверок отдельных видов юридических лиц</li>
				<li>Штрафные санкции за нарушение норм и требований Федерального закона и иных принятых в соответствии с ним нормативных правовых актов Российской Федерации</li>
				<li>Предмет и порядок обжалования действий (бездействий) заказчика при закупке товаров, работ, услуг</li>
				<li>Реестр недобросовестных поставщиков (по 44-ФЗ и 223-ФЗ)</li>
				<li>Типичные нарушения заказчиков при размещении заказов</li>
				<li>Обжалование в антимонопольных  органах и в суде действий (бездействий) заказчика, совершенных при закупке товаров, работ, услуг. Новый порядок обжалования закупок</li>
				<li>Практика обжалований. Подготовка заказчика к защите своих интересов в случае подачи участником закупочной процедуры жалобы или иска</li>
				<li>Установление в положении о закупке требований, защищающих права и интересы заказчика: требований к участникам закупок, к обеспечению закупки, а также к порядку заключения и исполнения договоров</li>
				<li>Порядок соблюдения норм и требований 135-ФЗ «О защите конкуренции»</li>
				<li>Особенности закупок, осуществляемых бюджетным, автономным учреждениями, государственным, муниципальным унитарными предприятиями и иными юридическими лицами (44-ФЗ и 223-ФЗ)</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td>12:30-13:30</td>
		<td>Кофе-брейк</td>
	</tr>
	<tr>
		<td>13:30-15:30</td>
		<td>
			<ul>
				<li>Практические рекомендации по применению норм Положения о закупке, регламентирующего закупочную деятельность заказчика:</li>
				<li>Порядок  подготовки и проведения процедур закупки (включая способы закупки) и условия их применения</li>
				<li>Последовательность, продолжительность и содержание процедур, оформляемые документы</li>
				<li>Установление требований к участникам закупки</li>
				<li>Критерии и порядок оценки заявок</li>
				<li>Порядок заключения и исполнения договоров</li>
				<li>Особенности расторжения заключенных договоров</li>
				<li>Дробление закупок на мелкие суммы</li>
				<li>Дополнительные соглашения к заключенным сделкам</li>
				<li>Судебная практика</li>
				<li>Требования к участникам размещения заказа, отклонение заявок на стадии рассмотрения</li>
				<li>Техническое задание как наиболее проблемный раздел документации о закупке</li>
				<li>Ответы на вопросы участников</li>
			</ul>

			{% include 'static/ask_lektor_button.html' %}
		</td>
	</tr>
</table>