<table class="seminar-table">
	<tr>
		<td>Время</td>
		<td>Программа семинара</td>
	</tr>
	<tr>
		<td>09:50-10:00</td>
		<td>
			<h3>Регистрация участников семинара</h3>
		</td>
	</tr>
	<tr>
		<td>10:00-11:45</td>
		<td>
			<h3>Штрафные санкции по 223-ФЗ:</h3>
			<ul>
				<li>Штрафы за уклонение от электронной формы закупки. Штрафы за неприменение 44-ФЗ заказчиками, подпадающими под 223-ФЗ. Ответственность за нарушения сроков размещения информации. Нарушения по составу извещения и документации.Нарушения по требованиям к участникам;</li>
				<li>Реестр недобросовестных поставщиков.</li>
			</ul>

			<h3>Особенности планирования и информационного обеспечения закупок в 2015-2016 гг.</h3>
			<ul>
				<li>Постановление Правительства РФ № 1132 от 31.10.2014 «О порядке ведения реестра договоров…». Приказ Минфина « О порядке формирования информации и документов, а также обмена информацией и документами между заказчиком и Федеральным казначейством в целях ведения реестра договоров, заключенных заказчиками по результатам закупки» от 29.12.2014 № 173н.;</li>
				<li>Состав реестра договоров с 2015 и 2016гг.;</li>
				<li>Особенности заявки участника закупки в связи с введением реестра договоров;</li>
				<li>Документы, подаваемые заказчиками в реестр договоров при заключении, изменении, расторжении и исполнении договоров, сроки подачи таких документов;</li>
				<li>Действия заказчика, которые необходимо предпринять, чтобы не вносить в реестр договоров мелкие договора.</li>
			</ul>

		</td>
	</tr>
	<tr>
		<td>11:45-12:00</td>
		<td>
			<h3>Перерыв, кофе-брейк</h3>
		</td>
	</tr>
	<tr>
		<td>12:00-13:30</td>
		<td>
			<h3>Преференции для субъектов малого и среднего предпринимательства.</h3>
			<p>Постановление Правительства РФ №1352 от 11.12.2014«Об особенностях участия субъектов малого и среднего предпринимательства в закупках товаров, работ, услуг отдельными видами юридических лиц».</p>
			<ul>
				<li>Объем закупок у субъектов малого и среднего предпринимательства в 2015 году;</li>
				<li>Отчетность по закупкам у субъектов малого и среднего предпринимательства;</li>
				<li>Перечни закупок у субъектов малого и среднего предпринимательства, утверждаемые заказчиками. Порядок их размещения в единой информационной системе;</li>
				<li>Особенности заявок участников закупки, являющихся субъектами малого и среднего предпринимательства;</li>
				<li>Особенности требований по обеспечению заявок и исполнения договоров;</li>
				<li>Обязательства по оплате договоров, заключенных с такими субъектами;</li>
			</ul>

			<h3>Планируемые изменения Федерального закона № 223-ФЗ в 2015 году.</h3>
			<ul>
				<li>Закрытый перечень способов закупки. Особенности каждого способа закупки и сроки проведения;</li>
				<li>Расширение случаев обжалования со стороны участников закупки;</li>
				<li>Этапы способов закупки (предварительный квалификационный отбор, переторжка, конкурентные переговоры и др.) и порядок их включения в положение о закупках;</li>
				<li>Возможные схемы проведения конкурентных способов закупок;</li>
				<li>Состав протоколов, составляемых в ходе проведения закупки и по итогам закупки;</li>
				<li>Понятие «электронной закупки»;</li>
				<li>Изменение состава извещения о закупке;</li>
				<li>Увеличение отчетности заказчиков по результатам закупки;</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td>13:30-14:30</td>
		<td>
			<h3>Перерыв</h3>
		</td>
	</tr>
	<tr>
		<td>14:30-16:00</td>
		<td>
			<h3>Практические аспекты применения Федерального закона № 223-ФЗ «О закупках товаров, работ, услуг отдельными видами юридических лиц.</h3>
			<ul>
				<li>Рекомендации по корректировке Положения о закупке. Типовые ошибки в Положении о закупке.</li>
				<li>Возможные требования к участникам закупок, товарам, работам, услугам и документы (и требования к ним), которыми участники подтверждают соответствие предъявляемым требованиям.</li>
				<li>Электронная форма закупок: перечень, подходы, примеры.</li>
				<li>Порядок размещения информации на сайте <a href="http://www.zakupki.gov.ru" target="_blank">www.zakupki.gov.ru</a> с примерами из административной практики.</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td>16:00-16:10</td>
		<td>
			<h3>Перерыв, кофе-брейк</h3>
		</td>
	</tr>
	<tr>
		<td>16:10-17:20</td>
		<td>
			<h3>Административная практика реализации 223-ФЗ</h3>
			<ul>
				<li>Решения ФАС России по нарушениям порядка проведения процедур закупок, в т.ч. по нарушению сроков, неразмещению информации на сайте.</li>
				<li>Решения ФАС России по нарушениям в содержании извещения, документации о закупке.</li>
				<li>Жалобы на необоснованный отказ к допуску к участию в закупке (необоснованное отклонение заявки) / на необоснованный допуск к участию в закупке и результаты их рассмотрения.</li>
				<li>Жалобы на порядок оценки и / или на нарушение порядка определения победителя и результаты их рассмотрения.</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td>17:20-18:00</td>
		<td>
			<h3>Ответы на вопросы слушателей</h3>

			{% include 'static/ask_lektor_button.html' %}
		</td>
	</tr>
</table>