<table class="seminar-table">
	<tr>
		<td>Время</td>
		<td>Тема</td>
	</tr>
	<tr>
		<td>09:45-10:00</td>
		<td>
			<h3>Регистрация участников семинара</h3>
		</td>
	</tr>
	<tr>
		<td>10:00-11:30</td>
		<td>
			<h3>Федеральный закон от 18 июля 2011 г. № 223-ФЗ «О закупках товаров, работ, услуг отдельными видами юридических лиц».</h3>
			<ul>
				<li>Субъекты регулирования, основные нормы, исключения, сроки вступления в силу.</li>
				<li>Законодательное регулирование закупок: связанные федеральные законы, подзаконные нормативные акты.</li>
				<li>Обзор произошедших изменений и др.</li>
				<li>Преференции для субъектов малого и среднего предпринимательства.</li>
			</ul>

			<h3>Планирование закупок</h3>
			<ul>
				<li>Постановление Правительства РФ № 932</li>
				<li>Содержание и форма плана, сроки публикации и исключения.</li>
			</ul>

			<h3>Положение о закупке</h3>
			<ul>
				<li>Требования 223-ФЗ к Положению о закупке: содержание, порядок утверждения и сроки публикации.</li>
				<li>Этапы закупочной деятельности заказчика и структура Положения о закупке</li>
				<li>Изменение Положения о закупке: порядок и сроки внесения</li>
			</ul>

			<h3>Информационное обеспечение закупок</h3>
			<ul>
				<li>Требования Постановления Правительства №908</li>
				<li>ЕИС, ЭТП. Закупки в электронной форме</li>
				<li>Презентация Торгового портала Fabrikant.ru</li>
				<li>Извещение и документация</li>
				<li>Протоколы</li>
				<li>Отчёты о заключенных договорах и Реестр договоров</li>
				<li>Отчётность в Росстат</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td>11:30-11:45</td>
		<td>
			<h3>Перерыв</h3>
		</td>
	</tr>
	<tr>
		<td>11:45-13:30</td>
		<td>
			<h3>Способы закупок: преимущества и недостатки, правила проведения</h3>
			<ul>
				<li>Конкурентные и неконкурентные способы закупок. Требования законодательства к торгам, запросам котировок и запросам предложений. Требования 135-ФЗ «О защите конкуренции»</li>
				<li>Открытый аукцион, открытый конкурс, запрос котировок, запрос предложений, конкурентные переговоры и их «модификации».</li>
				<li>Закупка у единственного поставщика</li>
			</ul>
			<h3>Дополнительные элементы закупочных процедур.</h3>
			<ul>
				<li>Переторжка, предварительный отбор, альтернативные предложения и иные способы сделать процедуру эффективнее</li>
				<li>Ограничения со стороны законодательства при введении дополнительных элементов</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td>13:30-14:30</td>
		<td>
			<h3>Обед</h3>
		</td>
	</tr>
	<tr>
		<td>14:30-15:45</td>
		<td>
			<h3>Контроль и обжалование действий (бездействий) заказчиков по 223-ФЗ</h3>
			<ul>
				<li>Обзор часто встречающихся нарушений, практики ФАС и судебной практики</li>
				<li>Порядок обжалования действий (бездействий) заказчиков</li>
				<li>Реестры недобросовестных поставщиков. Порядок передачи сведений в контрольный орган, причины внесения.</li>
				<li><b>Обзор готовящихся изменений.</b></li>
			</ul>
		</td>
	</tr>
	<tr>
		<td>15:45-16:00</td>
		<td>
			<h3>Перерыв</h3>
		</td>
	</tr>
	<tr>
		<td>16:00-17:00</td>
		<td>
			<h3>Основы работы на портале</h3>
			<ul>
				<li>Правила работы</li>
				<li>Тарифные планы</li>
				<li>Правила применения ЭЦП на портале</li>
				<li>Секции торговой площадки</li>
				<li>Регистрация на портале</li>
			</ul>
			<h3>Работа в личном кабинете:</h3>
			<ul>
				<li>Информация об организации</li>
				<li>Личные настройки</li>
				<li>Продукция и услуги (работа с классификатором)</li>
				<li>Интеграция с ООС 223-ФЗ</li>
				<li>Информация о торгах (ваши торги, комментарии к торгам, аналитика, «профессиональная экспертиза», финансирование)</li>
				<li>виды процедур закупки</li>
				<li>дополнительные элементы процедур закупки</li>
				<li>возможность проверки благонадежности поставщиков</li>
				<li>возможность проведения процедур закупки только с участием предприятий малого и среднего бизнеса</li>
			</ul>
			<h3>Размещение и участие в процедуре закупки.</h3>
		</td>
	</tr>
	<tr>
		<td>17:00-18:00</td>
		<td>
			<h3>«Круглый стол» (ответы на вопросы). Завершение семинара.</h3>

			{% include 'static/ask_lektor_button.html' %}
		</td>
	</tr>
</table>