<table class="seminar-table">
	<tr>
		<td>Время</td>
		<td>Программа семинара</td>
	</tr>
	<tr>
		<td></td>
		<td>
			Регистрация участников
		</td>
	</tr>
	<tr>
		<td>10:00 – 11:30</td>
		<td>
			<h3>Переход на Контрактную систему.</h3>
			<ul>
				<li>Особенности подготовки унитарных предприятий к переходу на закупки по 44-ФЗ. Комплекс подготовительных мероприятий по переходу на закупки по правилам контрактной системы.</li>
				<li>Регистрация унитарного предприятия в ЕИС в качестве заказчика.</li>
				<li>Корректировка Положения о закупках по 223-ФЗ (либо разработка нового Положения) с учетом новых требований, связанных с переводом закупок под действие 44-ФЗ. Размещение Положения о закупках в ЕИС.</li>
				<li>Основные отличия законов о закупках (223-ФЗ и 44-ФЗ).</li>
				<li>Профстандарты. Обязательные квалификационные требования к персоналу организации-заказчика (ст.195.3 ТК РФ, приказы Минтруда от 10.09.2015 № 625н и № 626н. Специалисты и эксперты в сфере закупок).</li>
				<li>Система локальных актов организации с учетом новых принципов и правил закупок. Особенности регламентации.</li>
			</ul>

			<h3>Контрактная система (КС) в РФ:</h3>
			<ul>
				<li>Основные понятия КС, сфера действия, <b>закупки унитарных предприятий, не подпадающие под нормы 44-ФЗ.</b></li>
				<li>Информационное обеспечение закупок.</li>
				<li>Нормативно-правовая база в сфере закупок.</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td>11:30 – 11:40</td>
		<td>
			<h3>Перерыв</h3>
		</td>
	</tr>
	<tr>
		<td>11:40 – 13:00</td>
		<td>
			<h3>Новые субъекты правоотношений. Контрактная служба/контрактный управляющий.</h3>
			<ul>
				<li>Контрактная служба или контрактный управляющий, что выбрать? Как организовать работу по закупкам? Требования законодательства и рекомендации специалистов.</li>
				<li>Разработка Положений: о контрактной службе (о контрактном управляющем), о закупочной комиссии, о порядке приема продукции.</li>
				<li>Разработка должностных инструкций и иных организационно-распорядительных документов.</li>
			</ul>

			<h3>Особенности осуществления закупок по 44-ФЗ.</h3>
			<ul>
				<li>Отличие требований к участникам закупок по 44-ФЗ от требований по 223-ФЗ. "Единые и дополнительные требования". Документы, подтверждающие соответствие участников установленным требованиям.</li>
				<li>Импортозамещение (обязанность соблюдать национальный режим закупок).</li>
				<li>Преимущества для отдельных участников закупок: субъектов малого предпринимательства, социально-ориентированных некоммерческих организаций, учреждений и предприятий уголовно-исправительной системы, организаций инвалидов.</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td>13:00 – 14:00</td>
		<td>
			<h3>Обед</h3>
		</td>
	</tr>
	<tr>
		<td>14:00 – 15:10</td>
		<td>
			<h3>Изменения в планировании закупочной деятельности:</h3>
			<ul>
				<li>Особенности планирования закупок: идентификационный код закупки, планы-графики и планы закупок на 2017-й и последующие годы (по новым правилам), нормирование, обоснование НМЦК.</li>
				<li>Документальное обоснование закупок.</li>
				<li>Распространенные нарушения при планировании закупок.</li>
			</ul>

			<h3>Общие требования к осуществлению закупок в рамках 44-ФЗ.</h3>
			<ul>
				<li>Извещение и документация о закупке. Требования к описанию предмета закупки («техническому заданию», «ТЗ»). Использование товарных знаков, «диапазонов», требования антимонопольного законодательства. Разбор примеров из практики, а также возможных ошибок.</li>
				<li>Требования к обеспечению заявок на участие в закупке и к обеспечению исполнения контракта. Виды.</li>
				<li>Антидемпинговые меры. Правила применения. Подтверждение добросовестности поставщиков.</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td>15:10 – 16:30</td>
		<td>
			<h3>Способы определения поставщиков / подрядчиков по 44-ФЗ.</h3>
			<ul>
				<li>Система способов определения поставщиков. Условия выбора способа. Отличия критериев выбора способа закупок по 223-ФЗ и 44-ФЗ.</li>
				<li>Особенности проведения торгов: открытого конкурса, конкурса с ограниченным участием, двухэтапного конкурса, электронного аукциона. Совместные торги.</li>
				<li>Запрос котировок.</li>
				<li>Запрос предложений.</li>
				<li>Закупки у единственного поставщика.</li>
				<li>Концепция электронных способов определения поставщиков.</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td>16:30 – 16:40</td>
		<td>
			<h3>Перерыв</h3>
		</td>
	</tr>
	<tr>
		<td>16:40-17:10</td>
		<td>
			<h3>Заключение, изменение и расторжение контракта.</h3>
			<ul>
				<li>Заключение, изменения и исполнения контрактов. Основные подходы к определению существенных условий госконтрактов.</li>
				<li>Ключевые отличия госконтракта от гражданско-правового договора.</li>
				<li>Расторжение контракта: по соглашению сторон, по решению суда, в порядке применения одностороннего отказа стороны контракта от исполнения обязательств. Односторонний отказ: процедура и последствия.</li>
				<li>Приемка и обязательная экспертиза результатов исполнения контракта: право заказчика не подписывать акт приемки; право уполномочить на приемку иное должностное лицо; сроки приемки и оформление результатов.</li>
				<li>Виды экспертизы. Особенности организации "внешней" и "внутренней экспертизы", а также документов, подтверждающих ее проведение.</li>
				<li>Отчетность по контрактам.</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td>17.10 – 17.30</td>
		<td>
			<ul>
				<li>Новое об административной ответственности унитарных предприятий и их должностных лиц по КоАП РФ за нарушения, допущенные при проведении госзакупок по 44-ФЗ: виды и составы правонарушений, меры ответственности (318-ФЗ от 03.07.2016, другие НПА).</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td>17.30 – 18.00</td>
		<td>
			<h3>«Круглый стол» (ответы на вопросы).</h3>
		</td>
	</tr>
</table>