<table class="seminar-table">
	<tr>
		<td>Время</td>
		<td>Тема</td>
	</tr>
	<tr>
		<td>09:30-10:00</td>
		<td>
			<span><b>Регистрация участников</b></span>
		</td>
	</tr>
	<tr>
		<td>10:00-10:05</td>
		<td>
			<span><b>Приветственное слово участникам семинара</b></span>
		</td>
	</tr>
	<tr>
		<td>10:05-11:10</td>
		<td>
			<ul>
				<li>Этапы вступления в силу отдельных положений закона</li>
				<li>Сфера применения Федерального закона</li>
				<li>Субъекты правоотношений</li>
				<li>Договоры, заключаемые заказчиком. Некоторые рекомендации к их составлению. Рамочные договоры</li>
				<li>Нормативно-правовая база</li>
				<li>Деятельность органов государственной власти в области регулирования и контроля за сферой проведения закупок в соответствии с требованиями Федерального закона № 223 – ФЗ</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td>11:10-11:20</td>
		<td><span><b>Перерыв</b></span></td>
	</tr>
	<tr>
		<td>11:20-12:00</td>
		<td>
			<span><b>Информационное обеспечение закупок</b></span>
			<ul>
				<li>Порядок и сроки размещения информации о закупках на официальном сайте</li>
				<li>Перечень документов размещаемых на сайтах организаций- заказчиков</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td>12:00-13:00</td>
		<td>
			<span><b>Разработка и утверждение заказчиком положения о закупке</b></span>
			<ul>
				<li>Порядок внесения изменений в положение. Значение положения о закупке</li>
				<li>Порядок утверждения положения о закупке</li>
				<li>Примерная структура положения о закупке</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td>13:00-14:00</td>
		<td>
			<span><b>Перерыв на обед</b></span>
		</td>
	</tr>
	<tr>
		<td>14:00-15:00</td>
		<td>
			<span><b>Основные способы закупок:</b></span>
			<ul>
				<li>Подходы к выбору способов закупки</li>
				<li>Торговые и неторговые процедуры</li>
				<li>Конкурсы и аукционы, иные способы закупок: запрос котировок, конкурентные переговоры, селективный конкурс, двухэтапный конкурс, закупка у единственного источника, запрос цен, запрос предложений</li>
				<li>Закрытые и открытые торги</li>
				<li>Понятие и случае недействительности торгов, а также признания торгов несостоявшимися</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td>15:00-15:50</td>
		<td>
			<span><b>Планирование закупок</b></span>
			<ul>
				<li>Структура и содержание плана закупки</li>
			</ul>
			<span><b>Закупочная документация заказчика:</b></span>
			<ul>
				<li>Особенности формирования закупочной документации</li>
				<li>Порядок внесения изменений в закупочную документацию</li>
				<li>Подготовка к оценке и выбору заявок</li>
				<li>Формирование требований к закупаемой продукции, работам, услугам и критерии оценки предложений участников закупок</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td>15:50-16:20</td>
		<td>
			<span><b>Участники размещения заказа</b></span>
			<ul>
				<li>Понятие «участника размещения заказа»</li>
				<li>Основные требования к участникам закупок</li>
				<li>Реестр недобросовестных поставщиков</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td>16:20-16:30</td>
		<td>
			<span><b>Перерыв</b></span>
		</td>
	</tr>
	<tr>
		<td>16:30-17:20</td>
		<td>
			<span><b>Обжалование действий заказчиков</b></span>
			<ul>
				<li>Способы обжалования</li>
				<li>Порядок обжалования</li>
				<li>Рассмотрение дел о нарушении антимонопольного законодательства</li>
				<li>Виды ответственности</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td>17:20-17:30</td>
		<td>
			<span><b>Круглый стол. Обсуждение практического материала. Ответы на вопросы.</b></span>
		</td>
	</tr>
</table>