<table class="seminar-table">
	<tr>
		<td>Время</td>
		<td>Тема</td>
	</tr>
	<tr>
		<td>09:30 – 10:00</td>
		<td>
			Регистрация участников
		</td>
	</tr>
	<tr>
		<td>10:00 – 10:05</td>
		<td>
			Приветственное слово участникам семинара
		</td>
	</tr>
	<tr>
		<td>10:05 – 11:10</td>
		<td>
			<ul>
				<li>Общие принципы организации закупочной деятельности в соответствии с требованиями Федерального закона №223-ФЗ "О закупках товаров, работ, услуг отдельными видами юридических лиц" от 18.07.2011.</li>
				<li>Сфера применения закона.</li>
				<li>Система нормативно-правовых актов, регулирующих порядок осуществления закупок. Особенности правового регулирования закупок.</li>
				<li>Локальные акты Заказчика.</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td>11:10 – 11:20</td>
		<td><h3>Перерыв</h3></td>
	</tr>
	<tr>
		<td>11:20 – 12:00</td>
		<td>
			<ul>
				<li>Порядок составления  и правовой статус положения о закупке. Рекомендации к содержанию и состав ключевых документов. Основные проблемы при подготовке положения о закупках. Утверждение положения и последующие изменения.</li>
				<li>Планирование закупок. Порядок подготовки и ведения документов о планировании.</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td>12:00 – 13:00</td>
		<td>
			<ul>
				<li>Особенности информационного обеспечения закупок. Введение в эксплуатацию Единой информационной системы в сфере закупок.</li>
				<li>Основные способы закупок и их виды. Подходы к выбору способов закупки.</li>
				<li>Электронные закупки и порядок применения электронной подписи. Особенности электронных закупок в рамках Закона 223-ФЗ. Достоинства и недостатки.</li>
				<li>Формирование требований к закупаемой продукции и требования к участникам закупок. Правила подготовки технических заданий. Национальная система стандартизации Российской Федерации. Федеральный закон от 27 декабря 2002 года N 184-ФЗ «О техническом регулировании», Федеральный закон от 29 июня 2017 года N 162-ФЗ «О стандартизации в Российской Федерации». Основные проблемы.</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td>13:00 – 14:00</td>
		<td><h3>Перерыв на обед</h3></td>
	</tr>
	<tr>
		<td>14:00 – 15:00</td>
		<td>
			<ul>
				<li>Закупочная документация. Порядок подготовки документов о закупке. Работа с закупочной документацией на этапе проведения процедуры.</li>
				<li>Обеспечение заявок и обеспечение контрактов. Особенности применения указанных мер.</li>
				<li>Национальный режим закупок.</li>
				<li>Постановление Правительства РФ от 11.12.2014 N 1352 "Об особенностях участия субъектов малого и среднего предпринимательства в закупках товаров, работ, услуг отдельными видами юридических лиц".</li>
				<li>Постановление Правительства РФ от 11.12.2014 N 1352 "Об особенностях участия субъектов малого и среднего предпринимательства в закупках товаров, работ, услуг отдельными видами юридических лиц".</li>
				<li>Перечни закупок у субъектов малого и среднего предпринимательства, утверждаемые заказчиками.</li>
				<li>Особенности заявок таких участников закупки.</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td>15:00 – 16:00</td>
		<td>
			<ul>
				<li>Договоры, заключаемые по результатам осуществления закупок. Некоторые рекомендации к их составлению.</li>
				<li>Постановление Правительства РФ № 1132 от 31.10.2014г. «Об утверждении Правил ведения реестра договоров, заключенных заказчиками по результатам закупки». Введение реестра договоров и его состав с 01.01.2016 года.</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td>16:00 – 16:30</td>
		<td>
			<ul>
				<li>Отчетность в рамках Закона №223-ФЗ.</li>
				<li>Реестр недобросовестных поставщиков (ПП РФ от 22.11.2012 N 1211).</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td>16:30 – 16:40</td>
		<td><h3>Перерыв</h3></td>
	</tr>
	<tr>
		<td>16:40 – 17:10</td>
		<td>
			<ul>
				<li>Административная ответственность по 223-ФЗ.</li>
				<li>Перспективы развития законодательства о закупках отдельными видами юридических лиц.</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td>17:10 – 17:30</td>
		<td>
			<h3>Круглый стол.</h3>

			{% include 'static/ask_lektor_button.html' %}
		</td>
	</tr>
</table>