<table class="seminar-table">
	<tr>
		<td>Время</td>
		<td>Тема</td>
	</tr>
	<tr>
		<td>09:30-10:00</td>
		<td>
			Регистрация участников
		</td>
	</tr>
	<tr>
		<td>10:00-10:05</td>
		<td>
			Приветственное слово участникам семинара
		</td>
	</tr>
	<tr>
		<td>10:05-12:00</td>
		<td>
			<ul>
				<li><b>Федеральный закон от 18 июля 2011 г. 223-ФЗ «О закупках товаров, работ, услуг отдельными видами юридических лиц»</b></li>
				<li><b>Правовая основа закупки товаров, работ, услуг</b></li>
				<li>Цели и общие принципы закупки товаров, работ, услуг</li>
				<li>Основные требования к закупке товаров, работ, услуг.  Особенности закупок, осуществляемых бюджетным, автономным учреждениями, государственным, муниципальным унитарными предприятиями и иными юридическими лицами</li>
				<li>Разъяснения по порядку применения <b>нормативно-правовых актов, принятых в развитие Закона о закупках товаров, работ, услуг</b></li>
				<li>Особенности закупок у субъектов малого и среднего предпринимательства</li>
				<li>Планируемые изменения законодательства о закупках. Проекты Постановлений Правительства РФ</li>
				<br />
				<li><b>Особенности планирования и информационного обеспечения закупок в 2016 г.</b></li>
				<li>Постановление Правительства России № 1132 от 31.10.2014 «О порядке ведения реестра договоров…» Приказ Минфина « О порядке формирования информации и документов, а также обмена информацией и документами  между заказчиком и Федеральным казначейством в целях ведения реестра договоров, заключенных заказчиками по результатам закупки» от 29.12.2014 № 173н.</li>
				<li>Состав реестра договоров с 2015 и 2016гг.</li>
				<li>Особенности заявки участника закупки в связи с введением реестра договоров</li>
				<li>Документы, подаваемые заказчиками в реестр договоров при заключении, изменении, расторжении и исполнении договоров, сроки  подачи таких документов</li>
				<li>Действия заказчика, которые необходимо предпринять, чтобы не вносить в реестр договоров мелкие договора</li>
				<li>Отчетность, предусмотренная Федеральным законом от 18 июля 2011 г. 223-ФЗ «О закупках товаров, работ, услуг отдельными видами юридических лиц»</li>
				<li><b>Порядок осуществления контроля</b>. Роль ФАС России в системе контроля корпоративных закупок после вступления в силу Федерального закона от 18 июля 2011 г. 223-ФЗ «О закупках товаров, работ, услуг отдельными видами юридических лиц»</li>
				<li>Штрафные санкции за нарушение норм и требований Федерального закона и иных принятых в соответствии с ним нормативных правовых актов Российской Федерации</li>
				<li>Предмет и порядок обжалования действий (бездействий) заказчика при закупке товаров, работ, услуг</li>
				<li>Реестр недобросовестных поставщиков</li>
				<li><b>Типичные нарушения заказчиков при размещении заказов. Обзор практики рассмотрения жалоб комиссиями антимонпольных органов</b></li>
				<li>Порядок соблюдения норм и требований 135-ФЗ «О защите конкуренции»</li>
				<li>Судебная практика</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td>12:00-12:30</td>
		<td>Кофе-брейк</td>
	</tr>
	<tr>
		<td>12:30-14:00</td>
		<td>
			<ul>
				<li><b>Практические рекомендации по применению норм Закона о закупках, Положения о закупке, регламентирующего закупочную деятельность заказчика</b></li>
				<li>Установление требований к участникам закупки</li>
				<li>Критерии и порядок оценки заявок</li>
				<li>Порядок заключения и исполнения договоров</li>
				<li>Особенности расторжения заключенных договоров</li>
				<li><b>Особенности работы московских заказчиков с учетом Постановления Правительства Москвы от 05.07.2013 № 441-ПП (дополнительные требования)</b></li>
				<li>Дробление закупок на мелкие суммы</li>
				<li>Дополнительные соглашения к заключенным сделкам</li>
				<li>Требования к участникам размещения заказа, отклонение заявок на стадии рассмотрения</li>
				<li><i>Техническое задание как наиболее проблемный раздел документации о закупке</i></li>
				<li><b>Ответы на вопросы участников</b></li>
			</ul>
		</td>
	</tr>
</table>