<table class="seminar-table">
	<tr>
		<td>Время:</td>
		<td>Программа семинара:</td>
	</tr>
	<tr>
		<td>10.30 – 11.00</td>
		<td>Регистрация участников</td>
	</tr>
	<tr>
		<td>11.00 – 11.05</td>
		<td>Приветственное слово участникам семинара</td>
	</tr>
	<tr>
		<td>11.05 – 13.00</td>
		<td>

			<h3>Положения Федерального закона от 05.04.2013 № 44-ФЗ "О контрактной системе в сфере закупок товаров, работ, услуг для обеспечения государственных и муниципальных нужд":</h3>
			<ul>
				<li>Актуальные вопросы практики применения законодательства о контрактной системе.</li>
				<li>Основные направления развития контрактной системы. Переход на электронные закупки.</li>
			</ul>

			<h3>Будущее Единой информационной системы как:</h3>
			<ul>
				<li>Развитие централизованной автоматизации в ФКС. Практика применения электронного документооборота.</li>
				<li>Региональные и муниципальные информационные системы.</li>
			</ul>

			<h3>Прогнозирование и планирование закупок в свете последних изменений в законодательстве:</h3>
			<ul>
				<li>План-график и план закупок. Разработка, утверждение, публикация и корректировка.</li>
				<li>Особенности планирования закупок с учетом требований бюджетного законодательства.</li>
				<li>Правила описания объекта закупки.</li>
				<li>Обоснование закупок. Обоснование начальной максимальной цены.</li>
				<li>Нормирование в сфере закупок.</li>
			</ul>

			<h3>Совокупный годовой объем закупок</h3>
			<ul>
				<li>Как правильно рассчитать?</li>
				<li>Малый и средний бизнес в системе госзакупок. Отчетность по закупкам для субъектов малого предпринимательства.</li>
				<li>Учет закупок, попадающих под требование о предоставлении преференций.</li>
			</ul>

			<h3>Проведение открытых процедур в рамках 44-ФЗ:</h3>
			<ul>
				<li>Сложные вопросы выбора способа закупки. Особенности составления технического задания.</li>
				<li>Как правильно провести запрос предложений?</li>
				<li>Нововведения в запросе котировок, открытом конкурсе, электронном аукционе.</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td>13.00 – 14.00</td>
		<td><i>Кофе-брейк</i></td>
	</tr>
	<tr>
		<td>14.00 – 16.00</td>
		<td>
			<h3>Кардинальные изменения в закупке у единственного поставщика: новые возможности и риски.</h3>

			<h3>Когда заказчик вправе отказаться заключать контракт:</h3>
			<ul>
				<li>Что может быть основанием для расторжения контракта.</li>
				<li>Порядок расторжения контракта.</li>
				<li>Расторжение контракта в одностороннем порядке.</li>
				<li>Риски при исполнении контракта.</li>
			</ul>

			<h3>Обжалование действия (бездействия) заказчика, уполномоченного органа, учреждения, комиссии и ее членов, должностного лица контрактной службы, контрактного управляющего, оператора:</h3>
			<ul>
				<li>Практика участия контролирующих органов в системе госзаказа на примере антимонопольной службы.</li>
				<li>Порядок подачи и рассмотрения жалобы.</li>
			</ul>

			<h3>Порядок включения сведений в РНП</h3>

			<h3>Контроль за деятельностью заказчика: общественный, ведомственный.</h3>
			<ul>
				<li>Ответственность руководителя заказчика, контрактного управляющего, члена комиссии.</li>
			</ul>

		</td>
	</tr>
</table>