<table class="seminar-table">
	<tr>
		<td>Время:</td>
		<td>Тема:</td>
	</tr>
	<tr>
		<td>9:30 – 10:00</td>
		<td>Регистрация участников</td>
	</tr>
	<tr>
		<td>10:00 – 10:05</td>
		<td>

			<h3>Приветственное слово участникам семинара</h3>

		</td>
	</tr>
	<tr>
		<td>10:05 – 12:00</td>
		<td>
			<ul>
				<li>Основные нововведения в сфере государственных закупок. Планируемые поправки в Закон о контрактной системе.</li>
				<li>Конкурентный отбор поставщиков для исполнения государственных (муниципальных) контрактов. Особенности проведения закупок конкурентными способами.</li>
				<li>Осуществление закупок у единственного поставщика.</li>
				<li><b>Роль ФАС России в контрактной системе.</b></li>
			</ul>
		</td>
	</tr>
	<tr>
		<td>12:00 – 12:30</td>
		<td><i>Кофе-брейк</i></td>
	</tr>
	<tr>
		<td>12:30 – 14:30</td>
		<td>
			<ul>
				<li>Контроль в соответствии с Законом о контрактной системе (контрольные органы и их полномочия, виды контроля). Практика осуществления контроля ФАС России.</li>
				<li>Реестр недобросовестных поставщиков. </li>
				<li><b>Обзор текущей практики проверок и рассмотрения жалоб по существу.</b></li>
				<li><b>Разъяснения ФАС России по сложным вопросам применения норм закона от 05.04.2013 ФЗ-44 «О контрактной системе в сфере закупок товаров, работ, услуг для обеспечения государственных и муниципальных нужд».</b></li>
			</ul>
		</td>
	</tr>
</table>