<table class="seminar-table">
	<tr>
		<td>Время</td>
		<td>Работа семинара – тренинга</td>
	</tr>
	<tr>
		<td>10:00 - 13:00<br />(перерыв: 11:30 - 11:40)</td>
		<td>

			<h3>МОДУЛЬ 1. Требования к документации на закупку ЛС</h3>
			<ul>
				<li>Основные НПА, относящиеся к закупке лекарственных средств;</li>
				<li>Разбивка на лоты: количество наименований, либо фасовок или дозировок ЛС, которые можно включать в один лот, максимальная сумма лота;</li>
				<li>Особенности закупки биоаналогов, возможность прописывать в ТЗ торговые названия;</li>
				<li>Понятие «эквивалентности» товаров в фармацевтической отрасли;</li>
			</ul>

			<h3>ПРИМЕРЫ ТЗ, содержащих нарушения.</h3>

			<h3>МОДУЛЬ 2. Контроль в рамках Контрактной системы</h3>
			<ul>
				<li>Роль ФАС в Контрактной системе;</li>
				<li>Требования к конкурсной/аукционной документации;</li>
				<li>Основные причины отклонения поданных заявок;</li>
			</ul>

			<h3>ПРИМЕРЫ. Антимонопольная практика.</h3>

		</td>
	</tr>
	<tr>
		<td>13:00 - 14:00</td>
		<td>
			<i>Обед</i>
		</td>
	</tr>
	<tr>
		<td>14:00-15:55</td>
		<td>

			<h3>МОДУЛЬ 3. Процедурные особенности закупки ЛС</h3>
			<ul>
				<li>Антидемпинговые меры: действия заказчика, поставщика и производителя, в случае снижения НМЦК более чем на 25%. Порядок разработки, представления обоснования, сроки, процедура его рассмотрения;</li>
				<li>Закупка у единственного поставщика: условия применения, процедура проведения, сумма, сроки, процедура согласования с контролирующим органом;</li>
				<li>Закупка ЛС на внебюджетные средства по 223-ФЗ.</li>
			</ul>

			<h3>МОДУЛЬ 4. Исполнения контракта. Ответственность заказчиков и участников закупки</h3>
			<ul>
				<li>Преференции отечественному производителю: основания применения, порядок, действия участника закупки в случае необоснованного применения (или отказа от применения) преференций заказчиком;</li>
				<li>Ответственность Заказчика за ненадлежащее исполнение контракта и за избыточность требований к закупаемому товару или условиям его поставки;</li>
				<li>Порядок изменения цены госконтракта, случаи и обоснование внесения изменений;</li>
				<li>Одностороннее расторжение контракта;</li>
				<li>Ведение реестра недобросовестных поставщиков.</li>
			</ul>

			<h3>ПРИМЕРЫ жалоб и судебных решений</h3>

		</td>
	</tr>
	<tr>
		<td>15:55-16:05</td>
		<td><i>Перерыв</i></td>
	</tr>
	<tr>
		<td>16:05-18:05</td>
		<td>
			<h3>Брифинг по вопросам семинара – практикума</h3>
		</td>
	</tr>
</table>