<table class="seminar-table">
	<tr>
		<td>Время</td>
		<td>Тема</td>
	</tr>
	<tr>
		<td>10:30 – 11:00</td>
		<td>Регистрация участников</td>
	</tr>
	<tr>
		<td>11:00 – 11:05</td>
		<td>Приветственное слово участникам семинара</td>
	</tr>
	<tr>
		<td>11:05 – 13:00</td>
		<td>

			<h3>МОДУЛЬ 1. Требования к документации на закупку ЛС.</h3>
			<ul>
				<li>Основные НПА, относящиеся к закупке лекарственных средств;</li>
				<li>Разбивка на лоты: количество наименований, либо фасовок или дозировок ЛС, которые можно включать в один лот, максимальная сумма лота;</li>
				<li>Особенности закупки биоаналогов, возможность прописывать в ТЗ торговые названия;</li>
				<li>Понятие «эквивалентности» товаров в фармацевтической отрасли.</li>
			</ul>

			<h3>ПРИМЕРЫ ТЗ, содержащих нарушения.</h3>

			<h3>МОДУЛЬ 2. Требования к документации на закупку изделий медицинского назначения.</h3>
			<ul>
				<li>Основные НПА, относящиеся к закупке изделий медицинского назначения;</li>
				<li>Преференции отечественному производителю;</li>
				<li>Разбивка на лоты: особенности закупки товара совместно с услугами;</li>
				<li>Особенности подготовки ТЗ и возможность включения торговых наименований.</li>
			</ul>

		</td>
	</tr>
	<tr>
		<td>13:00 – 14:00</td>
		<td><i>Кофе-брейк</i></td>
	</tr>
	<tr>
		<td>14:00 – 16:00</td>
		<td>

			<h3>МОДУЛЬ 3. Процедурные особенности закупки.</h3>
			<ul>
				<li>Антидемпинговые меры;</li>
				<li>Закупка у единственного поставщика: условия применения, процедура проведения, сумма, сроки, процедура согласования с контролирующим органом;</li>
				<li>Закупка ЛС и изделий медицинского назначения на внебюджетные средства по 223-ФЗ.</li>
			</ul>

			<h3>МОДУЛЬ 4. Исполнения контракта. Ответственность заказчиков и участников закупки.</h3>
			<ul>
				<li>Ответственность Заказчика за ненадлежащее исполнение контракта и за избыточность требований к закупаемому товару или условиям его поставки;</li>
				<li>Порядок изменения цены госконтракта, случаи и обоснование внесения изменений;</li>
				<li>Одностороннее расторжение контракта;</li>
				<li>Ведение реестра недобросовестных поставщиков.</li>
			</ul>

			<h3>ПРИМЕРЫ жалоб  и судебных решений.</h3>

			<h3>МОДУЛЬ 5. Контроль в рамках Контрактной системы.</h3>
			<ul>
				<li>Роль ФАС в Контрактной системе;</li>
				<li>Требования к конкурсной/аукционной документации;</li>
				<li>Основные причины отклонения поданных заявок.</li>
			</ul>

			<h3>ПРИМЕРЫ. Антимонопольная практика.</h3>

		</td>
	</tr>
</table>