<table class="seminar-table">
	<tr>
		<td>Время:</td>
		<td>Программа семинара:</td>
	</tr>
	<tr>
		<td>9.45 – 10.00</td>
		<td>Регистрация участников</td>
	</tr>
	<tr>
		<td>10.00 – 11.30</td>
		<td>

			<h3>Контрактная система (КС) в РФ:</h3>
			<ul>
				<li>Основные понятия КС, сфера действия, объекты регулирования, информационное обеспечение.</li>
				<li>Нормативно-правовая база в сфере закупок.</li>
				<li>Обзор произошедших и готовящихся изменений КС.</li>
			</ul>

			<h3>Изменения в планировании закупочной деятельности:</h3>
			<ul>
				<li>Особенности планирования закупок: нормирование, обоснование НМЦК, планы-графики, планы закупок.</li>
				<li>Обоснование НМЦК (начальной цены): методы определения и особенности их использования.</li>
			</ul>

			<h3>Общие требования к осуществлению закупок в рамках 44-ФЗ</h3>
			<ul>
				<li>Извещение и документация о закупке. Требования к описанию предмета закупки («техническому заданию», «ТЗ»). Использование товарных знаков, «диапазонов», требования антимонопольного законодательства. Разбор примеров из практики, а также возможных ошибок поставщиков.</li>
				<li>Единые и дополнительные требования к участникам закупок. Правила их установления.  Подтверждение участником соответствия данным требованиям.</li>
				<li>Требования к обеспечению заявки на участие в закупке и к обеспечению исполнения контракта. Виды.</li>
				<li>Антидемпинговые меры. Правила применения. Подтверждение добросовестности поставщиков.</li>
				<li>Преимущества для отдельных участников закупок: субъектов малого предпринимательства, социально-ориентированных некоммерческих организаций, учреждений и предприятий уголовно-исправительной системы, организаций инвалидов.</li>
				<li>Национальный режим: условия, запреты и ограничения на поставку иностранных товаров. Преференции.</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td>11.30 – 11.45</td>
		<td>Перерыв</td>
	</tr>
	<tr>
		<td>11.45 – 13.30</td>
		<td>
			<h3>Заключение, изменение и расторжение контракта.</h3>
			<ul>
				<li>Заключение, изменения и исполнения контрактов.</li>
				<li>Расторжение контракта: по соглашению сторон, по решению суда, в порядке применения одностороннего отказа стороны контракта от исполнения обязательств. Односторонний отказ: процедура и последствия.</li>
				<li>Особенности заключения, изменения и исполнения контрактов в различных отраслях.</li>
			</ul>
			<h3>Запрос котировок</h3>
			<ul>
				<li>Основания для проведения.</li>
				<li>Правила подготовки и подачи заявок. Требования к форме и составу заявки.</li>
			</ul>
			<h3>Электронный аукцион.</h3>
			<ul>
				<li>Основания для проведения. «Аукционный перечень».</li>
				<li>Требования к составу первой части заявки. Особенности указания характеристик.</li>
				<li>Требования к составу второй части заявки.</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td>13.30 – 14.30</td>
		<td>Обед</td>
	</tr>
	<tr>
		<td>14.30 – 15.45</td>
		<td>
			<h3>Открытый конкурс.</h3>
			<ul>
				<li>Основания для проведения и особенности процедуры.</li>
				<li>Правила подачи конкурсных заявок. Требования к составу заявки.</li>
				<li>Обязательный пакет документов по составу конкурсной заявки и.</li>
			</ul>

			<h3>Конкурс с ограниченным участием и Двухэтапный конкурс.</h3>
			<ul>
				<li>Основания для проведения.</li>
				<li>Предквалификационный отбор участников закупок. Порядок подготовки пакета документов в составе заявки для его прохождения.</li>
				<li>Постановление Правительства РФ № 1089 от 28.11.2013г. «Об условиях проведения процедуры конкурса с ограниченным участием…» и его применение в соответствующих отраслях.</li>
			</ul>

			<h3>Запрос предложений</h3>
			<ul>
				<li>Основания для проведения и особенности процедуры.</li>
				<li>Правила подачи заявок и окончательных предложений. Выставление требований к форме и составу заявки.</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td>15.45 – 16.00</td>
		<td>Перерыв</td>
	</tr>
	<tr>
		<td>16.00 – 16.40</td>
		<td>
			<h3>Обжалование и контроль. Ответственность за нарушения</h3>
			<ul>
				<li>Контрольные органы.</li>
				<li>Подача жалобы (требования к срокам, форме, составу и способу подачи).</li>
				<li>Процедура рассмотрения жалобы в ФАС. Реестры недобросовестных поставщиков (РНП). Основания, процедура  и последствия включения участника в РНП</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td>16.40 - 17.00</td>
		<td>
			<h3>Концепция изменения способов определения поставщиков.</h3>
			<ul>
				<li>Обзор вносимых изменений в перечень способов.</li>
				<li>Единая информационная система. Региональные и муниципальные системы.</li>
				<li>Особенности документооборота.</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td>17.00 – 18.00</td>
		<td>
			<p>«Круглый стол» (ответы на вопросы).</p>

			{% include 'static/ask_lektor_button.html' %}
		</td>
	</tr>
</table>