<table class="seminar-table">
	<tr>
		<td>Время</td>
		<td>Работа семинара – тренинга</td>
	</tr>
	<tr>
		<td>09:30 – 10:00</td>
		<td><i>Регистрация участников</i></td>
	</tr>
	<tr>
		<td>10:00 – 12:00</td>
		<td>

			<h3>Законодательное регулирование закупок лек. средств (ЛС) и изделий мед. назначения. Требования к техническому заданию на закупку ЛС и изделий медицинского назначения.</h3>
			<ul>
				<li>Основные НПА, относящиеся к закупке ЛС и изделий медицинского назначения;</li>
				<li>Преференции отечественному производителю;
				<li>Разбивка на лоты: количество наименований, либо фасовок или дозировок ЛС, которые можно включать в один лот, максимальная сумма лота;</li>
				<li>Особенности закупки биоаналогов, возможность прописывать в ТЗ торговые названия;</li>
				<li>Понятие «эквивалентности» товаров в фармацевтической отрасли.</li>
			</ul>

			<h3>ПРИМЕРЫ ТЗ, содержащих нарушения.</h3>

		</td>
	</tr>
	<tr>
		<td>12:00 – 12:10</td>
		<td><b>Кофе-брейк</b></td>
	</tr>
	<tr>
		<td>12:10 – 14:10</td>
		<td>

			<h3>Процедурные особенности закупки.</h3>
			<ul>
				<li>Антидемпинговые и антикризисные меры;</li>
				<li>Закупка у ед. поставщика, торги, запрос предложений, запрос котировок. Особенности участия в процедурах закупки;</li>
				<li>Закупка ЛС и изделий медицинского назначения на внебюджетные средства по 223-ФЗ.</li>
			</ul>

			<h3>Исполнения контракта. Ответственность заказчиков и участников закупки (поставщика).</h3>
			<ul>
				<li>Ответственность Заказчика (поставщика) за ненадлежащее исполнение контракта и за избыточность требований к закупаемому товару или условиям его поставки;</li>
				<li>Порядок изменения цены госконтракта, случаи и обоснование внесения изменений;</li>
				<li>Одностороннее расторжение контракта;</li>
				<li>Жалобы в ФАС.</li>
			</ul>

			{% include 'static/ask_lektor_button.html' %}
		</td>
	</tr>
</table>