<table class="seminar-table">
	<tr>
		<td>Время:</td>
		<td>Программа вебинара:</td>
	</tr>
	<tr>
		<td>10:00 – 12.00</td>
			<ul>
				<li>Последние изменения в Законе № 44-ФЗ и подзаконных нормативных правовых актов в сфере контрактной системы. Анализ.</li>
				<li>Постановления Правительства РФ от 15.05.2017 N 570, Постановления Правительства РФ от 12.05.2017 N 563 и порядок их применения.</li>
				<li>Как отразятся последние изменения в Градостроительном кодексе РФ на процесс осуществления закупок.</li>
				<li>Нарушения при осуществлении закупок, выявляемые ФАС России при рассмотрении жалоб и проведении внеплановых проверок.</li>
				<li>Рассмотрение наиболее сложных вопросов применения Закона о контрактной системе и подзаконных актов.</li>
				<li>Ответы на вопросы.</li>
			</ul>
	</tr>
</table>