<table class="seminar-table">
	<tr>
		<td>Время:</td>
		<td>Программа вебинара:</td>
	</tr>
	<tr>
		<td></td>
		<td>
			<h3>Тема 1: "Преференции отдельным видам участников закупок, предусмотренные Законом о Контрактной системе". Особенности предоставления и виды преференций.</h3>
		</td>
	</tr>
	<tr>
		<td>10:00</td>
		<td>
			<p>Характеристика субъектов, которым в соответствии с Законом о КС предоставляются преференции.</p>
		</td>
	</tr>
	<tr>
		<td>11:00</td>
		<td>
			<p>Случаи, при которых заказчики устанавливают требование о предоставлении преференций отдельным категориям участников. Документы, подтверждающие право участника на получение преференций.</p>
		</td>
	</tr>
	<tr>
		<td>12:00</td>
		<td>
			<p>Порядок предоставления преференций и разбор типовых ошибок, совершаемых Заказчиками. </p>
		</td>
	</tr>
	<tr>
		<td></td>
		<td><p>Перерыв</p></td>
	</tr>
	<tr>
		<td></td>
		<td>
			<h3>Тема 2. Национальный режим при осуществлении закупок. Разбор действующих НПА.</h3>
		</td>
	</tr>
	<tr>
		<td>12:30</td>
		<td>
			<p>Особенности национального режима в сфере закупок. Цели национального режима. Условия, запреты и ограничения допуска товаров, работ, услуг, происходящих из иностранных государств.</p>
		</td>
	</tr>
	<tr>
		<td>13:30</td>
		<td>
			<p>Схематичный разбор нормативно-правовых актов о национальном режиме. В каких случаях они применяются и какими документами подтверждать соответствие.</p>
		</td>
	</tr>
	<tr>
		<td>14:30</td>
		<td>
			<p>Проблемы национального режима в сфере закупок.</p>
		</td>
	</tr>
	<tr>
		<td>15:00</td>
		<td>
			<p>Обсуждение и ответы на вопросы участников</p>

			{% include 'static/ask_lektor_button.html' %}
		</td>
	</tr>
</table>