<table class="seminar-table">
	<tr>
		<td>Время:</td>
		<td>Программа вебинара:</td>
	</tr>
	<tr>
		<td>10:00 – 12.00</td>
		<td>
			<h3>Тема вебинара:</h3>

			<h3>«Новые требования к закупкам государственных компаний, корпораций и субъектов естественных монополий. Федеральный закон «О закупках товаров, работ, услуг отдельными видами юридических лиц» от 18.07.2011г. № 223-ФЗ»</h3>

			<br />

			<ul>
				<li>Новые требования к содержанию Положения о закупке и документации о закупке.</li>
				<li>Сведения о стране происхождения товара. Что требовать от участника на момент предоставления заяви и при исполнении договора.</li>
				<li>Случаи и механизм предоставления преференций.</li>
				<li>Перечень продукции на которую распространяется приоритет.</li>
				<li>Примеры оценки и сопоставлений итоговых ценовых предложений.</li>
				<li>Особенности предоставления преференций при наличии российского и иностранного товара в заявках участников. Расчет соотношения долей.</li>
				<li>Распространение приоритета на иностранные товары. Обзор практики ФАС России и разъяснений уполномоченных органов.</li>
				<li>Порядок предоставления приоритета в соответствии с Постановлением Правительства РФ от 16.09.2016 №925 "О приоритете товаров российского происхождения, работ, услуг, выполняемых, оказываемых российскими лицами, по отношению к товарам, происходящим из иностранного государства, работам, услугам, выполняемым, оказываемым иностранными лицами"</li>
			</ul>
		</td>
	</tr>
</table>