
<div class="spec-title contacts-title">
	<div class="wrapper">
		<h2>Контактная информация</h2>
	</div>
</div>

<main class="wrapper clearfix" itemscope itemtype="https://schema.org/Organization">

	<div class="contacts-basic">
		<h3 class="title">Отдел по организации семинаров</h3>

		<div class="cnt-phone" itemprop="telephone">{% if request.user_agent.is_mobile %}<a href="tel:+74951250905" title="Позвонить">+7 (495) 125-09-05</a>{% else %}+7 (495) 125-09-05{% endif %}</div>

		<div class="cnt-email"><a href="mailto:zakupki.gov@global-tender.ru" title="Написать на почту" itemprop="email">zakupki.gov@global-tender.ru</a></div>

		<div class="cnt-person">Кристина Олеговна</div>

		<div class="cnt-address" itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
		<!-- css hidden, seo only -->
			<span itemprop="streetAddress">ул.Серафимовича, д.58А, к.502, эт.5</span>
			<span itemprop="postalCode">344002</span>
			<span itemprop="addressLocality">Ростов-на-Дону</span>
		</div>

	</div>

	<div class="contacts-detail">

		<h3 class="title">Должностные лица, имеющие право подписи документов от имени организации</h3>

		<div class="cnt-detail-table">
			<div class="cnt-detail-cell cell1">Генеральный директор:</div>
			<div class="cnt-detail-cell cell2">Луковский Алексей Владимирович, действует на основании Устава</div>
		</div>

		<div class="cnt-detail-table">
			<div class="cnt-detail-cell cell1">Руководитель ОП:</div>
			<div class="cnt-detail-cell cell2">Бордачева Татьяна Геннадьевна, действует на основании доверенности № 4 от 15 января 2016 г.</div>
		</div>

		<!-- -->

		<div class="cnt-detail-table">
			<div class="cnt-detail-cell cell1">Наименование:</div>
			<div class="cnt-detail-cell cell2" itemprop="name">Общество с ограниченной ответственностью «Глобал-Тендер»</div>
		</div>

		<div class="cnt-detail-table">
			<div class="cnt-detail-cell cell1">ИНН:</div>
			<div class="cnt-detail-cell cell2">6164307585</div>
		</div>

		<div class="cnt-detail-table">
			<div class="cnt-detail-cell cell1">КПП:</div>
			<div class="cnt-detail-cell cell2">616401001</div>
		</div>

		<div class="cnt-detail-table">
			<div class="cnt-detail-cell cell1">Расчетный счет:</div>
			<div class="cnt-detail-cell cell2">40702810752090010387</div>
		</div>

		<div class="cnt-detail-table">
			<div class="cnt-detail-cell cell1">Банк:</div>
			<div class="cnt-detail-cell cell2">Юго-Западный банк, ОАО "Сбербанк России" Ростов-на-Дону</div>
		</div>

		<div class="cnt-detail-table">
			<div class="cnt-detail-cell cell1">Бик:</div>
			<div class="cnt-detail-cell cell2">046015602</div>
		</div>

		<div class="cnt-detail-table">
			<div class="cnt-detail-cell cell1">Кор/счет:</div>
			<div class="cnt-detail-cell cell2">30101810145250000974</div>
		</div>

		<div class="cnt-detail-table">
			<div class="cnt-detail-cell cell1">Система налогообложения:</div>
			<div class="cnt-detail-cell cell2">УСНО</div>
		</div>

		<br />
		<hr class='hr-contacts'/>
		<br />

		<div class="cnt-detail-table">
			<div class="cnt-detail-cell cell1">Полное наименование организации:</div>
			<div class="cnt-detail-cell cell2" itemprop="name">ИНДИВИДУАЛЬНЫЙ ПРЕДПРИНИМАТЕЛЬ ЛУКОВСКИЙ АЛЕКСЕЙ ВЛАДИМИРОВИЧ</div>
		</div>

		<div class="cnt-detail-table">
			<div class="cnt-detail-cell cell1">ИНН:</div>
			<div class="cnt-detail-cell cell2">010514642997</div>
		</div>

		<div class="cnt-detail-table">
			<div class="cnt-detail-cell cell1">ОГРН</div>
			<div class="cnt-detail-cell cell2">316619600089780</div>
		</div>

		<div class="cnt-detail-table">
			<div class="cnt-detail-cell cell1">Расчетный счет:</div>
			<div class="cnt-detail-cell cell2">40802810800000002557</div>
		</div>

		<div class="cnt-detail-table">
			<div class="cnt-detail-cell cell1">Банк:</div>
			<div class="cnt-detail-cell cell2">АО «Тинькофф Банк»</div>
		</div>

		<div class="cnt-detail-table">
			<div class="cnt-detail-cell cell1">Юридический адрес банка:</div>
			<div class="cnt-detail-cell cell2">Россия, Москва, 123060, 1-й Волоколамский проезд, д. 10, стр. 1</div>
		</div>

		<div class="cnt-detail-table">
			<div class="cnt-detail-cell cell1">Корр.счет банка:</div>
			<div class="cnt-detail-cell cell2">30101810900000000974</div>
		</div>

		<div class="cnt-detail-table">
			<div class="cnt-detail-cell cell1">ИНН банка:</div>
			<div class="cnt-detail-cell cell2">7710140679</div>
		</div>

		<div class="cnt-detail-table">
			<div class="cnt-detail-cell cell1">БИК банка:</div>
			<div class="cnt-detail-cell cell2">044525974</div>
		</div>

	</div>

</main>