
<div class="spec-title feedb-title">
	<div class="wrapper">
		<h2>Отзывы</h2>
	</div>
</div>

<main class="wrapper clearfix">

	<div class="feed-imgs highslide-gallery">

		<a class="highslide feedback-img" href="/static/images/feedback/17.07.2015.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_17.07.2015.jpg"></a>
		
		<a class="highslide feedback-img" href="/static/images/feedback/000.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_000.jpg"></a>
		
		<a class="highslide feedback-img" href="/static/images/feedback/002.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_002.jpg"></a>
		
		<a class="highslide feedback-img" href="/static/images/feedback/f34.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_f34.jpg"></a>
		
		<a class="highslide feedback-img" href="/static/images/feedback/001.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_001.jpg"></a>
		
		<a class="highslide feedback-img" href="/static/images/feedback/f1.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_f1.jpg"></a>
		
		<a class="highslide feedback-img" href="/static/images/feedback/f2.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_f2.jpg"></a>
		
		<a class="highslide feedback-img" href="/static/images/feedback/f3.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_f3.jpg"></a>
		
		<a class="highslide feedback-img" href="/static/images/feedback/f4.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_f4.jpg"></a>
		
		<a class="highslide feedback-img" href="/static/images/feedback/f5.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_f5.jpg"></a>
		
		<a class="highslide feedback-img" href="/static/images/feedback/f6.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_f6.jpg"></a>
		
		<a class="highslide feedback-img" href="/static/images/feedback/f7.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_f7.jpg"></a>
		
		<a class="highslide feedback-img" href="/static/images/feedback/f8.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_f8.jpg"></a>
		
		<a class="highslide feedback-img" href="/static/images/feedback/f9.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_f9.jpg"></a>
		
		<a class="highslide feedback-img" href="/static/images/feedback/f10.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_f10.jpg"></a>
		
		<a class="highslide feedback-img" href="/static/images/feedback/f11.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_f11.jpg"></a>
		
		<a class="highslide feedback-img" href="/static/images/feedback/f12.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_f12.jpg"></a>
		
		<a class="highslide feedback-img" href="/static/images/feedback/f13.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_f13.jpg"></a>
		
		<a class="highslide feedback-img" href="/static/images/feedback/f14.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_f14.jpg"></a>
		
		<a class="highslide feedback-img" href="/static/images/feedback/f15.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_f15.jpg"></a>
		
		<a class="highslide feedback-img" href="/static/images/feedback/f16.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_f16.jpg"></a>
		
		<a class="highslide feedback-img" href="/static/images/feedback/f17.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_f17.jpg"></a>
		
		<a class="highslide feedback-img" href="/static/images/feedback/f18.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_f18.jpg"></a>
		
		<a class="highslide feedback-img" href="/static/images/feedback/f19.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_f19.jpg"></a>
		
		<a class="highslide feedback-img" href="/static/images/feedback/f20.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_f20.jpg"></a>
		
		<a class="highslide feedback-img" href="/static/images/feedback/f21.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_f21.jpg"></a>
		
		<a class="highslide feedback-img" href="/static/images/feedback/f22.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_f22.jpg"></a>
		
		<a class="highslide feedback-img" href="/static/images/feedback/f23.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_f23.jpg"></a>
		
		<a class="highslide feedback-img" href="/static/images/feedback/f24.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_f24.jpg"></a>
		
		<a class="highslide feedback-img" href="/static/images/feedback/f25.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_f25.jpg"></a>
		
		<a class="highslide feedback-img" href="/static/images/feedback/f26.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_f26.jpg"></a>
		
		<a class="highslide feedback-img" href="/static/images/feedback/f27.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_f27.jpg"></a>
		
		<a class="highslide feedback-img" href="/static/images/feedback/f28.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_f28.jpg"></a>
		
		<a class="highslide feedback-img" href="/static/images/feedback/f29.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_f29.jpg"></a>
		
		<a class="highslide feedback-img" href="/static/images/feedback/f30.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_f30.jpg"></a>
		
		<a class="highslide feedback-img" href="/static/images/feedback/f31.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_f31.jpg"></a>
		
		<a class="highslide feedback-img" href="/static/images/feedback/f32.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_f32.jpg"></a>
		
		<a class="highslide feedback-img" href="/static/images/feedback/f33.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_f33.jpg"></a>

	</div>

</main>