
{% include 'subscribe_form.html' %}

<div class="spec-title feedb-title">
	<div class="wrapper">
		<h2>Отзывы</h2>
	</div>
</div>

<main class="wrapper clearfix">

	<div class="feed-imgs highslide-gallery">

		<a data-fancybox-group="feed_group" class="highslide feedback-img" href="/static/images/feedback/biofarma.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_biofarma.jpg" alt="скан отзыва БИОФАРМА для Глобал-Тендер"></a>

		<a data-fancybox-group="feed_group" class="highslide feedback-img" href="/static/images/feedback/rostelekom.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_rostelekom.jpg" alt="скан отзыва Ростелеком для Глобал-Тендер"></a>

		<a data-fancybox-group="feed_group" class="highslide feedback-img" href="/static/images/feedback/05.08.2016_2.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_05.08.2016_2.jpg" alt="скан отзыва МУПТП Школьный маршрут для Глобал-Тендер"></a>

		<a data-fancybox-group="feed_group" class="highslide feedback-img" href="/static/images/feedback/05.08.2016.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_05.08.2016.jpg" alt="скан отзыва Стоматологическая поликлиника Аксайского района для Глобал-Тендер"></a>

		<a data-fancybox-group="feed_group" class="highslide feedback-img" href="/static/images/feedback/17.07.2015.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_17.07.2015.jpg" alt="скан отзыва ЦЗН г.Ставрополя для Глобал-Тендер"></a>
		
		<a data-fancybox-group="feed_group" class="highslide feedback-img" href="/static/images/feedback/000.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_000.jpg" alt="скан отзыва Министерства здравоохранения Ставропольского края для Глобал-Тендер"></a>
		
		<a data-fancybox-group="feed_group" class="highslide feedback-img" href="/static/images/feedback/002.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_002.jpg" alt="скан отзыва ОАО Лесопромышленная холдинговая компания КАРЕЛЛЕСПРОМ для Глобал-Тендер"></a>
		
		<a data-fancybox-group="feed_group" class="highslide feedback-img" href="/static/images/feedback/f34.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_f34.jpg" alt="скан отзыва БОРИСОГЛЕБСКАЯ ЭНЕРГОСБЫТОВАЯ ОРГАНИЗАЦИЯ для Глобал-Тендер"></a>
		
		<a data-fancybox-group="feed_group" class="highslide feedback-img" href="/static/images/feedback/001.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_001.jpg" alt="скан отзыва Районная газета Сельская правда Вологодской области для Глобал-Тендер"></a>
		
		<a data-fancybox-group="feed_group" class="highslide feedback-img" href="/static/images/feedback/f1.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_f1.jpg" alt="скан отзыва УСТЬ-ДЖЕГУТИНСКАЯ районная Стоматологическая поликлиника для Глобал-Тендер"></a>
		
		<a data-fancybox-group="feed_group" class="highslide feedback-img" href="/static/images/feedback/f2.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_f2.jpg" alt="скан отзыва Нововоронежский ОРС для Глобал-Тендер"></a>
		
		<a data-fancybox-group="feed_group" class="highslide feedback-img" href="/static/images/feedback/f3.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_f3.jpg" alt="скан отзыва Тамбовская психиатрическая клиническая больница для Глобал-Тендер"></a>
		
		<a data-fancybox-group="feed_group" class="highslide feedback-img" href="/static/images/feedback/f4.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_f4.jpg" alt="скан отзыва Городской специализированный комбинат похоронных услуг г.Астрахань для Глобал-Тендер"></a>
		
		<a data-fancybox-group="feed_group" class="highslide feedback-img" href="/static/images/feedback/f5.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_f5.jpg" alt="скан отзыва Водоканал - НТ Нижний Тагил для Глобал-Тендер"></a>
		
		<a data-fancybox-group="feed_group" class="highslide feedback-img" href="/static/images/feedback/f6.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_f6.jpg" alt="скан отзыва Тульское предприятие тепловых сетей для Глобал-Тендер"></a>
		
		<a data-fancybox-group="feed_group" class="highslide feedback-img" href="/static/images/feedback/f7.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_f7.jpg" alt="скан отзыва Новосергиевское ЖКХ для Глобал-Тендер"></a>
		
		<a data-fancybox-group="feed_group" class="highslide feedback-img" href="/static/images/feedback/f8.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_f8.jpg" alt="скан отзыва Сыктывкарский водоканал для Глобал-Тендер"></a>
		
		<a data-fancybox-group="feed_group" class="highslide feedback-img" href="/static/images/feedback/f9.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_f9.jpg" alt="скан отзыва Новосергиевский коммунальщик для Глобал-Тендер"></a>
		
		<a data-fancybox-group="feed_group" class="highslide feedback-img" href="/static/images/feedback/f10.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_f10.jpg" alt="скан отзыва Компания ТТК Западная Сибирь для Глобал-Тендер"></a>
		
		<a data-fancybox-group="feed_group" class="highslide feedback-img" href="/static/images/feedback/f11.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_f11.jpg" alt="скан отзыва Многофункциональный ценктр города Новокузнецка по предоставлению государственных и муниципальных услуг для Глобал-Тендер"></a>
		
		<a data-fancybox-group="feed_group" class="highslide feedback-img" href="/static/images/feedback/f12.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_f12.jpg" alt="скан отзыва Дворец культуры им. 50-ти летия Октября г.Кемерово для Глобал-Тендер"></a>
		
		<a data-fancybox-group="feed_group" class="highslide feedback-img" href="/static/images/feedback/f13.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_f13.jpg" alt="скан отзыва Благоустройство Аткарского муниципального района для Глобал-Тендер"></a>
		
		<a data-fancybox-group="feed_group" class="highslide feedback-img" href="/static/images/feedback/f14.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_f14.jpg" alt="скан отзыва Министерство здравоохранения Ростовской области Дом ребенка для Глобал-Тендер"></a>
		
		<a data-fancybox-group="feed_group" class="highslide feedback-img" href="/static/images/feedback/f15.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_f15.jpg" alt="скан отзыва Начальник управления здравоохранения администрации г.Белгород для Глобал-Тендер"></a>
		
		<a data-fancybox-group="feed_group" class="highslide feedback-img" href="/static/images/feedback/f16.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_f16.jpg" alt="скан отзыва Белгородский центр восстановительной медицины и реабилитации для Глобал-Тендер"></a>
		
		<a data-fancybox-group="feed_group" class="highslide feedback-img" href="/static/images/feedback/f17.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_f17.jpg" alt="скан отзыва Российское Торгово-Производственное объединение для Глобал-Тендер"></a>
		
		<a data-fancybox-group="feed_group" class="highslide feedback-img" href="/static/images/feedback/f18.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_f18.jpg" alt="скан отзыва ИП Видинеева Е.В. г.Краснодар для Глобал-Тендер"></a>
		
		<a data-fancybox-group="feed_group" class="highslide feedback-img" href="/static/images/feedback/f19.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_f19.jpg" alt="скан отзыва ЗАО ЕЛЕЦТЯЖСТРОЙ для Глобал-Тендер"></a>
		
		<a data-fancybox-group="feed_group" class="highslide feedback-img" href="/static/images/feedback/f20.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_f20.jpg" alt="скан отзыва Александровская центральная районная больница для Глобал-Тендер"></a>
		
		<a data-fancybox-group="feed_group" class="highslide feedback-img" href="/static/images/feedback/f21.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_f21.jpg" alt="скан отзыва ИП Карпиленко А.В. Ростовская область г.Гуково для Глобал-Тендер"></a>
		
		<a data-fancybox-group="feed_group" class="highslide feedback-img" href="/static/images/feedback/f22.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_f22.jpg" alt="скан отзыва ИП Бондарев А.И. Ростовская область г.Батайск для Глобал-Тендер"></a>
		
		<a data-fancybox-group="feed_group" class="highslide feedback-img" href="/static/images/feedback/f23.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_f23.jpg" alt="скан отзыва филиал Саратовской области ОАО Банк Открытие для Глобал-Тендер"></a>
		
		<a data-fancybox-group="feed_group" class="highslide feedback-img" href="/static/images/feedback/f24.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_f24.jpg" alt="скан отзыва Невинномысская городская станция по борьбе с болезнями животных для Глобал-Тендер"></a>
		
		<a data-fancybox-group="feed_group" class="highslide feedback-img" href="/static/images/feedback/f25.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_f25.jpg" alt="скан отзыва ООО Закупки Ставрополья для Глобал-Тендер"></a>
		
		<a data-fancybox-group="feed_group" class="highslide feedback-img" href="/static/images/feedback/f26.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_f26.jpg" alt="скан отзыва Невинномысский комплексный центр социального обслуживания населения для Глобал-Тендер"></a>
		
		<a data-fancybox-group="feed_group" class="highslide feedback-img" href="/static/images/feedback/f27.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_f27.jpg" alt="скан отзыва ООО Диалог-КМВ для Глобал-Тендер"></a>
		
		<a data-fancybox-group="feed_group" class="highslide feedback-img" href="/static/images/feedback/f28.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_f28.jpg" alt="скан отзыва ПятигорскТеплоСервис для Глобал-Тендер"></a>
		
		<a data-fancybox-group="feed_group" class="highslide feedback-img" href="/static/images/feedback/f29.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_f29.jpg" alt="скан отзыва Ростелеком 2012 для Глобал-Тендер"></a>
		
		<a data-fancybox-group="feed_group" class="highslide feedback-img" href="/static/images/feedback/f30.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_f30.jpg" alt="скан отзыва Хватовский психоневрологический интернат Саратовской области для Глобал-Тендер"></a>
		
		<a data-fancybox-group="feed_group" class="highslide feedback-img" href="/static/images/feedback/f31.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_f31.jpg" alt="скан отзыва ОАО Садово-парковое предприятие Нарвское для Глобал-Тендер"></a>
		
		<a data-fancybox-group="feed_group" class="highslide feedback-img" href="/static/images/feedback/f32.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_f32.jpg" alt="скан отзыва Мунициальное унитарное казенное предприятие Благоустройство Аткарского муниципального района Саратовская область для Глобал-Тендер"></a>
		
		<a data-fancybox-group="feed_group" class="highslide feedback-img" href="/static/images/feedback/f33.jpg" onclick="return hs.expand(this, config1);"><img src="/static/images/feedback/sml/sml_f33.jpg" alt="скан отзыва Центр социальной помощи семье и детям г.Ростова-на-Дону для Глобал-Тендер"></a>

	</div>

	<div class="feedback-share">
		<h3>Вы можете отправить нам скан отзыва на электронный адрес <a href="mailto:zakupki.gov@global-tender.ru" title="отправить скан отзыва">zakupki.gov@global-tender.ru</a></h3>
	</div>

</main>

<div class="wrapper">
	<div class="ads">


		<div class="index_banner">
			<a class="" href="http://xn----7sbchn4accyekm3a.xn--p1ai/" target="_blank" title="Разработка проектов планировки территории и межевания">
				<img src="/static/images/banners/gk_banner.png" alt="глобал-проект.рф">
			</a>
		</div>

		<div class="index_banner">
			<div class="google-adsense-block">
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- global-tender -->
				<ins class="adsbygoogle"
				     style="display:inline-block;width:180px;height:150px"
				     data-ad-client="ca-pub-1502331739186135"
				     data-ad-slot="7955777009"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
			</div>
		</div>


	</div>
</div>