
<section class="wrapper-main">
	
	<div class="wrapper-main-overlay"></div>

	<div class="main-info">
		<h1 class="main-info-text title">
				Cеминары по государственным закупкам<br>
				(44-ФЗ, 223-ФЗ)
		</h1>
	</div>

	<a href="#" class="down-link" title="К информации"><i class="fa fa-angle-double-down"></i></a>
</section>

<section class="wrapper-full wrapper-good">
	<div class="wrapper-good-overlay"></div>
	
	<div class="wrapper">
		<h2 class="title">Преимущества по которым Вам стоит посетить наш семинар:</h2>
		<ul class="ul-good">

			<li><b>ясность и доступность</b> подачи информации: наши специалисты не пересказывают закон, они помогают Вам понять алгоритм и последовательность действий, учат применять эти знания на практике</li>
			<li><b>наглядность</b> — схемы, таблицы и другие визуальные элементы: несмотря на большой объём информации, усваивается она достаточно просто</li>
			<li><b>высокое качество</b> информации из первых рук от представителей госструктур: на наших семинарах у Вас есть возможность задать свои вопросы непосредственно специалистам Федеральной Антимонопольной Службы</li>
			<li><b>Вы можете сразу</b> же обсудить появляющиеся у Вас вопросы с лектором, который проводит обучение</li>
			<li><b>актуальность</b> — специалисты Федеральной Антимонопольной Службы расскажут Вам о последних поправках и изменениях в Законе</li>
			<li><b>успешная реализация знаний на практике </b> — полученные знания помогут заказчикам выбрать качественный товар и услугу, а поставщикам выиграть тендер.
			</li>

		</ul>
	</div>
</section>

<main class="wrapper clearfix">
	<div class="about-block about-main">
		<div class="block">
			<h2 class="title">Достаточно ли у Вас знаний чтобы не нарушать закон?</h2>
			<p class="text">Сегодня федеральные законы о государственных закупках претерпевают ряд изменений и поправок. </p>
			<p class="text">Следить за нововведениями и правильно их толковать, а также успешно применять на практике, порою бывает очень сложно. Малейшая неточность при составлении документации влечет к её  отклонению и штрафам. </p>
			<p class="text">Вот уже на протяжении шести лет Учебный центр Глобал-Тендер  при сотрудничестве с Центральным аппаратом ФАС России успешно проводит семинары по госзаказу на территории всей Российской Федерации. </p>
			<p class="text">Глобальная цель компании : дать своим клиентам знания - знания, которые они смогут использовать в своей работе. Мы информируем обо всех новостях и нововведениях в законе, которые Вам нужны.</p>
			<p class="text">Не секрет, что многие организации посещают наши семинары регулярно, и это позволяет им успешно работать в сфере государственных закупок.  Знание – сила! Узнайте когда в Вашем городе <a href="/seminars/" title="Расписание семинаров">состоится семинар</a> или закажите индивидуальное обучение.</p>
		</div>
	</div>
</main>

<section class="wrapper">
	<div class="about-block padding-t25 padding-b25">
		<div class="block block-t-center clearfix">
			<a href="/seminars/" class="btn-links"><h3>Предстоящие семинары</h3></a>
			<a href="/feedback/" class="btn-links"><h3>Многочисленные отзывы</h3></a>
			<a href="/contacts/" class="btn-links"><h3>Контактная информация</h3></a>
		</div>
	</div>
</section>

<section class="wrapper">
	<div class="gos_banner_index">
		<a class="gos_banner_url" href="http://www.forum-gosoboronzakaz.ru" title="ГОСОБОРОНЗАКАЗ, Московская область, Красногорск, 21-22 апреля" target="_blank">
			<img src="/static/images/banners/gos_oboron_1-min.png" alt="ГОСОБОРОНЗАКАЗ">
		</a>
	</div>
</section>