{% load customTags %}

<main class="wrapper clearfix padding-t60 seminars-list">

	<h2 class="title padding-t25">{% if 'seminars_completed' in request.path %}Список недавно проведенных семинаров{% else %}Расписание семинаров{% endif %}</h2>

	{% for item in seminars %}

		{% if forloop.counter == 3 or forloop.counter == 5 %}
			{% if not request.user_agent.is_mobile %}
				<br />
			{% endif %}
		{% endif %}
		<div class="seminars_cell">
			{% autoescape off %}
			<h3 class="seminar-title">{{item.1.description}}</h3>
			{% endautoescape %}

			<ul class="seminars">
			{% for seminar in item.1.seminars %}

				<li class="seminar">
					<div class="seminar-back" style="background-image: url(/uploads/{{seminar.event_city.picture.name}});"></div>
					<a href="/seminars/{{seminar.id}}/">
						<span class="sem-date">{{seminar.event_date.day}} {{seminar.event_date.month|rus_month}} <span class="year">{{seminar.event_date.year|year_short}}</span></span>
						<span class="place">{{seminar.event_city.name}}</span>
						{% if seminar.event_urgent_info %}
							<span class="event_urgent_info">{{seminar.event_urgent_info}}</span>
						{% endif %}
					</a>
				</li>

			{% endfor %}
			</ul>
		</div>

	{% endfor %}

	{% if not 'seminars_completed' in request.path %}
		<div class="seminars-swap-url">
			<a href="/seminars_completed/" title="Список недавно проведенных семинаров">Список недавно проведенных семинаров</a>
		</div>
	{% else %}
		<div class="seminars-swap-url">
			<a href="/seminars/" title="Расписание предстоящих семинаров">Расписание предстоящих семинаров</a>
		</div>
	{% endif %}

</main>
