{% load customTags %}

<div class="wrapper-full sem-city-print">
	<div class="">
		<div class="wrapper">
			<div class="sem-city-date-name"><span class="city-date">{{seminar.event_date.day}} {{seminar.event_date.month|rus_month}} {{seminar.event_date.year}}</span> {{seminar.event_city.name}}</div>
		</div>
	</div>
</div>

<main class="wrapper clearfix">

	<div class="sem-info">

		<div class="row">
			{% autoescape off %}
			{{seminar.event_fz.description}}<br /><br />
			{% endautoescape %}
		</div>

		{% if status != 'active' %}
			<div class="row">
				<span class="sem-name">Статус:</span><span class="sem-val sem-status">{% if status == 'completed' %}Проведен{% elif status == 'canceled' %}Отменен{% endif %}</span>
			</div>
		{% endif %}

		<div class="row">
			<span class="sem-name">Время:</span><span class="sem-val">{{seminar.event_program.program_time_limit}}</span>
		</div>

		<div class="row">
			<span class="sem-name">Контактное лицо:</span><span class="sem-val">{{seminar.event_contact_name}}</span>
		</div>
		<div class="row">
			<span class="sem-name">Телефон:</span><span class="sem-val">{% if request.user_agent.is_mobile %}<a href="tel:{{seminar.event_contact_phone}}" title="Позвонить"><span class="sem-phone">{{seminar.event_contact_phone}}</span></a>{% else %}<span class="sem-phone">{{seminar.event_contact_phone}}</span>{% endif %}</span>
		</div>
		<div class="row">
			<span class="sem-name">Электронная почта:</span><span class="sem-val">{{seminar.event_contact_email}}</span>
		</div>
		<hr>

		<div class="row pd-bot-sml sem-program-title">
			{% if seminar.event_program.program_top_title %}
				{{seminar.event_program.program_top_title}}
			{% endif %}
		</div>

		{% include seminar_program_template %}

	</div>
</main>