{% load customTags %}

<div class="wrapper-full sem-city" style="background-image: url('/uploads/{{seminar.event_city.picture.name}}')">

	{% if seminar.event_primary_title %}
		{% autoescape off %}

		<div class="sem-top-description">{{seminar.event_primary_title}}</div>
		{% if seminar.event_primary_mini %}
			<div class="mini-sem-top-description">{{seminar.event_primary_mini}}</div>
		{% endif %}

		{% endautoescape %}
	{% elif seminar.event_fz.top_description %}
		{% autoescape off %}

		<div class="sem-top-description">{{seminar.event_fz.top_description}}</div>
		{% if seminar.event_fz.mini_top_desc %}
			<div class="mini-sem-top-description">{{seminar.event_fz.mini_top_desc}}</div>
		{% endif %}

		{% endautoescape %}
	{% endif %}

	<div class="city-info">
		<div class="wrapper">
			<div class="sem-city-date-name">
				<span class="city-date">{{seminar.event_date.day}} {{seminar.event_date.month|rus_month}} {{seminar.event_date.year}}</span>
				{% if not seminar.event_is_webinar %}
					<h1>{{seminar.event_city.name}}</h1>
				{% endif %}

				{% if status == 'active' %}
					<div class="apply-seminar-btn-simple"><a href="#" onclick="return showSeminarForm({{seminar.id}});">Подать заявку</a></div>
				{% endif %}
			</div>
		</div>
	</div>
</div>

<main class="wrapper clearfix">

	<div class="sem-info">

		{% if seminar.event_urgent_info %}
			<div class="row">
				<span class="sem-name sem-urgent">Информация:</span><span class="sem-val sem-urgent">{{seminar.event_urgent_info}}</span>
			</div>
		{% endif %}

		{% if status != 'active' %}
			<div class="row">
				<span class="sem-name">Статус:</span><span class="sem-val sem-status">{% if status == 'completed' %}Проведен{% elif status == 'canceled' %}Отменен{% endif %}</span>
			</div>
		{% endif %}

		<div class="row">
			<span class="sem-name">Время:</span><span class="sem-val">{{seminar.event_program.program_time_limit}}</span>
		</div>

		{% if seminar.event_price_person %}
			{% autoescape off %}
			<div class="row">
				<span class="sem-name">Стоимость:</span><span class="sem-val"><b>{{seminar.event_price_person}}</b></span>
			</div>
			{% endautoescape %}
		{% endif %}

		{% if seminar.event_place %}
			{% autoescape off %}
			<div class="row">
				<span class="sem-name">Место проведения:</span><span class="sem-val"><b>{{seminar.event_place}}</b></span>
			</div>
			{% endautoescape %}
		{% endif %}

		{% if status == 'active' %}
			<div class="row apply-seminar-btn-mobile-only">
				<a class="apply-seminar-btn" href="#" onclick="return showSeminarForm({{seminar.id}});">Подать заявку</a>
			</div>
		{% endif %}

		<div class="row">
			<span class="sem-name">Контактное лицо:</span><span class="sem-val">{{seminar.event_contact_name}}</span>
		</div>
		<div class="row">
			<span class="sem-name">Телефон:</span><span class="sem-val">{% if request.user_agent.is_mobile %}<a href="tel:{{seminar.event_contact_phone}}" title="Позвонить"><span class="sem-phone">{{seminar.event_contact_phone}}</span></a>{% else %}<span class="sem-phone">{{seminar.event_contact_phone}}</span>{% endif %}</span>
		</div>
		<div class="row">
			<span class="sem-name">Электронная почта:</span><span class="sem-val"><a href="mailto:{{seminar.event_contact_email}}" title="Написать на почту">{{seminar.event_contact_email}}</a></span>
		</div>


		{% if seminar.event_title %}
			<hr />
			<div class="row pd-bot-sml sem-program-title">
				{% autoescape off %}
				{{seminar.event_title}}
				{% endautoescape %}
			</div>
		{% endif %}

		{% if seminar.event_program.program_top_title %}
			<hr />
			<div class="row pd-bot-sml sem-program-title">
				{% autoescape off %}
				{{seminar.event_program.program_top_title}}
				{% endautoescape %}
			</div>
		{% endif %}

		{% include seminar_program_template %}

		{% if status == 'active' %}
		<div>
			<br />
			<a class="apply-seminar-btn-bottom" href="#" onclick="return showSeminarForm({{seminar.id}});">Подать заявку</a>
			<br />
		</div>
		{% endif %}

	</div>
</main>
