
<div class="spec-title service-title">
	<div class="wrapper">
		
	</div>
</div>

<main class="wrapper clearfix">
	<div class="serv">
		<h1>Подготовим гибкое положение в соответствии с законными требованиями.</h1>

		<h3>Мы предлагаем профессиональную методическую и практическую помощь заказчикам</h3>

		<ul>
			<li>по разработке правового акта регламентирующего правила закупки (далее - положение о закупке) для заказчиков, подпадающих под сферу регулирования Федерального закона от 18 июля 2011 г. N 223-ФЗ "О закупках товаров, работ, услуг отдельными видами юридических лиц" - от 18 тыс. рублей.</li>
			<li>по анализу существующего у заказчика Положения о закупке на соответствие требованиям действующего законодательства с рекомендациями по внесению изменений и корректировке – от 12 тыс. руб.</li>
			<li>по разработке типовых документов (документация о закупке, протоколы) для проведения закупок в соответствии с действующим законодательством и Положением о закупке заказчика – от 5 тыс. рублей.</li>
			<li>по разработке положения о работе закупочной комиссии – от 7 тыс. руб.</li>
		</ul>
	</div>
</main>