
<div class="spec-title service-title">
	<div class="wrapper">
		<h2>Сопровождение по 44-ФЗ и 223-ФЗ</h2>
	</div>
</div>

<main class="wrapper clearfix">
	<ul class="services">
		<li class="service-item">
			<div class="title"><i class="fa fa-users"></i> Наша компания оказывает профессиональную юридическую поддержку
				участников госзакупок, представляет интересы своих клиентов в
				органах Федеральной антимонопольной службы, Суде, при
				рассмотрении вопросов о внесении сведений в <span class="border-bottom">Реестр недобросовестных поставщиков</span> (РНП).
			</div>
			<div class="service-cont">
				<div>
					&nbsp;&nbsp;&nbsp;&nbsp;<b>Для начала стоит определить, что необходимо знать об РНП.</b><br /><br />
					&nbsp;&nbsp;&nbsp;&nbsp;Включение поставщиков, подрядчиков, исполнителей не исполнивших
					своих обязательств по заключению и исполнению контрактов в РНП по 44-ФЗ, 223-ФЗ осуществляет
					Федеральная антимонопольная служба. Стоит отметить что по закону
					заказчик обязан направить сведения об участнике в ФАС России для
					включения сведений в РНП, если тот уклоняется от заключения
					контракта или не исполняет свои обязательства по контракту. За
					несоблюдение такой обязанности заказчик привлекается к административной
					ответственности!<br /><br />

					&nbsp;&nbsp;&nbsp;&nbsp;Чем грозит попадание в РНП?<br />
					&nbsp;&nbsp;&nbsp;&nbsp;Включение сведений не только о компании, но и всех ее учредителях в
					РНП исключает участие в большинстве госторгов на протяжении двух
					лет. Кроме того, вы теряете внесенное обеспечение. Никакие заслуги
					поставщика, никакие отлично исполненные контракты не помогут
					участнику сократить этот срок. Единственный способ покинуть реестр
					досрочно - на основании решения суда.<br /><br />
					&nbsp;&nbsp;&nbsp;&nbsp;Вместе с тем, на практике имеют место обстоятельства при которых
					участник закупки нарушает предусмотренные законом правила в
					отсутствие своей вины, в результате действий третьих лиц, к таким
					случаям, в том числе, можно отнести несвоевременное предоставление
					банковской гарантии в качестве обеспечения контракта И это не
					единственная проблема, которая может стать причиной внесения
					организации в РНП.<br /><br />
					&nbsp;&nbsp;&nbsp;&nbsp;Вместе с тем, на сегодняшний день уже сложилась судебная практика
					в защиту необоснованно включенных в РНП поставщиков Таким образом
					заручившись поддержкой компетентных специалистов есть шансы
					оспорить решение о внесении в РНП.
					<br /><br />
					<div class="contact-block">
						<div class="c-title">Контактная информация</div>
						<div class="contact-li">Кристина Олеговна, {% if request.user_agent.is_mobile %}<a href="tel:+79064272521" title="Позвонить">+7 (906) 427-25-21</a>{% else %}+7 (906) 427-25-21{% endif %}</div>
						<div class="contact-li"></div>
						<div class="contact-li"><a href="mailto:zakupki.gov@global-tender.ru" title="Написать на почту">zakupki.gov@global-tender.ru</a></div>
					</div>
				</div>
			</div>
		</li>
	</ul>
</main>
