
<div class="spec-title service-title">
	<div class="wrapper">
	</div>
</div>

<main class="wrapper clearfix">
	<div class="serv">
		<h1>Подготовим гибкое положение по 223-ФЗ в соответствии с законными требованиями.</h1>

		<h3>Мы предлагаем профессиональную методическую и практическую помощь заказчикам</h3>

		<ul>
			<li>по разработке правового акта регламентирующего правила закупки (далее - положение о закупке) для заказчиков, подпадающих под сферу регулирования Федерального закона от 18 июля 2011 г. N 223-ФЗ "О закупках товаров, работ, услуг отдельными видами юридических лиц".</li>
			<li>по анализу существующего у заказчика Положения о закупке на соответствие требованиям действующего законодательства с рекомендациями по внесению изменений и корректировке.</li>
			<li>по разработке типовых документов (документация о закупке, протоколы) для проведения закупок в соответствии с действующим законодательством и Положением о закупке заказчика.</li>
			<li>по разработке положения о работе закупочной комиссии.</li>
		</ul>

		<div class="serv-contacts">
			<div class="serv-contacts-title">Контактная информация</div>
			<div class="serv-contacts-item">Кристина Олеговна, {% if request.user_agent.is_mobile %}<a href="tel:+79064272521" title="Позвонить">+7 (906) 427-25-21</a>{% else %}+7 (906) 427-25-21{% endif %}</div>
			<div class="serv-contacts-item"><a href="mailto:zakupki.gov@global-tender.ru" title="Написать на почту">zakupki.gov@global-tender.ru</a></div>
		</div>
	</div>
</main>
