{% load customTags %}

<div class="spec-title subscribe-title">
	<div class="wrapper">
	</div>
</div>

<main class="wrapper clearfix">
	<div class="subscribe_page">

		{% if error %}

			<div class="subscribe_page_line">
			</div>

			{% autoescape off %}
			<p class="subscr_msg subscr_msg_error">{{ error }}</p>
			{% endautoescape %}

		{% elif success %}

			<div class="subscribe_page_line">
			</div>

			{% autoescape off %}
			{% for success_res in success %}
				<p class="subscr_msg">{{success_res}}</p>
			{% endfor %}
			{% endautoescape %}

		{% endif %}


		<h1>Подписаться на рассылку о новых семинарах.</h1>

		<form class="ajax_default_form" name="ajax_default_form" action="/subscribe/" method="POST">
			<div class="subscr_type">
				<span>Семинары:</span>
				{% for fz in fz_list %}
					{% autoescape off %}
					<div>
						<input type="checkbox" name="seminar_type" value="{{fz.short_code}}" checked="checked" title="{{fz.description|strip_tags}}">{{fz.name}}<br />
					</div>
					{% endautoescape %}
				{% endfor %}
			</div>
			<br />

			<div class="subscribe_region">
				<span class="subscribe_region_button"></span>
				<span class="subscribe_region_chose">Выберите субъект РФ</span>
			</div>
			<div class="subscribe_region_list">
				{% for region in regions_list %}
					<span class="subscribe_region_id" data-id="{{region.id}}">{{region.region_name}}</span><br />
				{% endfor %}
			</div>
			<input name="region_id" type="hidden" required="" title="Выберите субъект РФ">

			<br /><input name="gt_email" type="email" placeholder="Ваш E-Mail" title="Ваш E-Mail" required="">
			<br /><input type="submit" name="submit_subscribe" value="Подписаться" title="Будет направлено подтверждение подписки">
		</form>

		<div class="subscribe_page_line">
		</div>


	</div>
</main>