{% load customTags %}

<div class="spec-title subscribe-title">
	<div class="wrapper">
		
	</div>
</div>

<main class="wrapper clearfix">
	<div class="subscribe_page">

		{% if error %}

			<br /><br /><br />

			{% autoescape off %}
			<h2>{{ error }}</h2>
			{% endautoescape %}

			<br /><br /><br />

		{% elif success %}

			{% autoescape off %}
			{% for success_res in success %}
				<p class="subscr_success_msg">{{success_res}}</p>
			{% endfor %}
			{% endautoescape %}

		{% else %}

			<script>
				$(function () {
					var $region = $('[name="gt_region"]');

					$region.kladr({
						type: $.kladr.type.region,
						select: function(obj){
							$region.val(obj.typeShort + ". " + obj.name)
						}
					});
				});
			</script>


			<h1>Подписаться на рассылки о новых семинарах.</h1>

			<form class="ajax_default_form" name="ajax_default_form" id="ajax_default_form" action="/subscribe/" method="POST">
				<div class="subscr_type">
					<span>Семинары:</span>
					{% for fz in fz_list %}
						<input type="checkbox" name="seminar_type" value="{{fz.short_code}}" checked="checked">{{fz.name}}<br />
					{% endfor %}
				</div>
				<br />
				<input name="gt_region" type="text" placeholder="Регион" title="Регион" required="">
				<br /><input name="gt_email" type="email" placeholder="Ваш E-Mail" title="Ваш E-Mail" required="">
				<br /><input type="submit" name="submit_subscribe" value="Подписаться" title="Будет направлено подтверждение подписки">
			</form>

			<div class="subscribe_page_line">
				
			</div>

		{% endif %}

	</div>
</main>