{% load customTags %}

{% if submitted %}

	<div class="modal-wrap">
		<br /><br /><br />

		<h2>Сообщение успешно отправлено!</h2>
		<h3>Вам также направлена копия.</h3>

		<br /><br /><br />
	</div>

{% elif error %}

	<div class="modal-wrap">
		<br /><br /><br />

		<h2>{{ error }}</h2>

		<br /><br /><br />
	</div>

{% else %}

	<div class="modal-wrap">
		
		<h2>Задать вопрос</h2>

		<form class="question_form" name="question_form" id="question_form" action="/ajax/question/" method="POST" onsubmit="return ajaxFormTry($(this));">
			<label>*</label><input name="gt_name" type="text" placeholder="Ваше имя" title="Ваше имя" required="">
			<br /><label>*</label><input name="gt_email" type="email" placeholder="Ваш E-Mail" title="Ваш E-Mail" required="">
			<br /><label>&nbsp;</label><input name="gt_phone" type="text" placeholder="Номер телефона" class="gt_phone" title="Номер телефона" maxlength="18" autocomplete="off">
			<br /><label>*</label><textarea name="gt_message" placeholder="Ваш вопрос/сообщение" title="Ваш вопрос/сообщение" required=""></textarea>
			<br /><input type="submit" name="submit_message" value="Отправить">
		</form>

	</div>

{% endif %}

<script>
	$(document).ready(function(){
		$('.gt_phone').mask('+0 (000) 000-00-00');
		$('.gt_phone').on('click', function() {
			if ( $('.gt_phone').val() == "" )
				$('.gt_phone').val('+7 ');
		});
	});
</script>