{% load customTags %}

{% if error %}

	<div class="modal-wrap">
		<br /><br /><br />

		<h2>{{ error }}</h2>

		<br /><br /><br />
	</div>

{% elif submitted %}

	<div class="modal-wrap">
		<br /><br /><br />

		<h2>Сообщение успешно отправлено!</h2>
		<h3>Вам также направлена копия.</h3>

		<br /><br /><br />
	</div>

{% else %}

	<div class="modal-wrap">
		
		<h2>Задать вопрос</h2>

		<form class="ajax_default_form" name="ajax_default_form" id="ajax_default_form" action="/ajax/question/" method="POST" onsubmit="return ajaxFormTry($(this));">
			<label>*</label><input name="gt_name" type="text" placeholder="Ваше имя" title="Ваше имя" required="">
			<br /><label>*</label><input name="gt_email" type="email" placeholder="Ваш E-Mail" title="Ваш E-Mail" required="">
			<br /><label>&nbsp;</label><input name="gt_phone" type="text" placeholder="Номер телефона" class="gt_phone" title="Номер телефона" maxlength="18" autocomplete="off">
			<br /><label>*</label><textarea name="gt_message" placeholder="Ваш вопрос/сообщение" title="Ваш вопрос/сообщение" required=""></textarea>
			<br /><input type="submit" name="submit_message" value="Отправить">
		</form>

	</div>

{% endif %}

<script>
	$(document).ready(function(){
		$('.gt_phone').mask('+0 (000) 000-00-00');
		$('.gt_phone').on('click', function() {
			if ( $('.gt_phone').val() == "" )
				$('.gt_phone').val('+7 ');
		});
	});
</script>

<!-- Yandex.Metrika counter --> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter22043605 = new Ya.Metrika({ id:22043605, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/22043605" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
	(function (d, w, c) {
		(w[c] = w[c] || []).push(function() {
			try {
				w.yaCounter33786709 = new Ya.Metrika({
					id:33786709,
					clickmap:true,
					trackLinks:true,
					accurateTrackBounce:true,
					webvisor:true
				});
			} catch(e) { }
		});

		var n = d.getElementsByTagName("script")[0],
		s = d.createElement("script"),
		f = function () { n.parentNode.insertBefore(s, n); };
		s.type = "text/javascript";
		s.async = true;
		s.src = "https://mc.yandex.ru/metrika/watch.js";

		if (w.opera == "[object Opera]") {
			d.addEventListener("DOMContentLoaded", f, false);
		} else { f(); }
	})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/33786709" style="position:absolute; left:-9999px;" alt="metrika" /></div></noscript>
<!-- /Yandex.Metrika counter -->
