{% load customTags %}

{% if submitted %}

	<div class="modal-wrap">
		<br /><br /><br />

		<h2>Заявка успешно отправлена!</h2>
		{% if send_copy_email == 'yes' %}
			<h3>Также направлена копия на E-Mail контактного лица.</h3>
		{% endif %}


		<br /><br /><br />
	</div>

{% else %}
<div class="seminar-apply">
	

	<div class="seminar-apply-wrapper">
		<a href="#" class="seminar-apply-close">
			<i class="fa fa-times"></i>
		</a>
		

		<form class="seminar-apply-form" name="seminar-apply-form" action="/ajax/seminar/{{seminar.id}}/" method="POST" onsubmit="return ajaxFormTry($(this));">

			<div class="seminar-apply-block">
				<div class="seminar-apply-block-title">Организация:</div>
				<div class="seminar-apply-block-body">
					<div class="seminar-apply-block-row">
						<span>Полное название организации (включая форму собственности):</span>
						<span><input type="text" name="org_name" value="{{request.COOKIES.apply__org_name|unescape}}"></span>
					</div>

					<div class="seminar-apply-block-row">
						<span>Действующая на основании:</span>
						<span>
							<input type="radio" name="org_acting" value="ustav" {% if request.COOKIES.apply__org_acting == 'ustav' %}checked{% endif %}> Устава<br />
							<input type="radio" name="org_acting" value="polozhenie" {% if request.COOKIES.apply__org_acting == 'polozhenie' %}checked{% endif %}> Положения
						</span>
					</div>

					<div class="seminar-apply-block-row">
						<span>ИНН:</span>
						<span><input type="text" name="org_inn" value="{{request.COOKIES.apply__org_inn|unescape}}"></span>
					</div>
					<div class="seminar-apply-block-row">
						<span>КПП:</span>
						<span><input type="text" name="org_kpp" value="{{request.COOKIES.apply__org_kpp|unescape}}"></span>
					</div>
					<div class="seminar-apply-block-row">
						<span>Расчетный счет:</span>
						<span><input type="text" name="org_account" value="{{request.COOKIES.apply__org_account|unescape}}"></span>
					</div>
					<div class="seminar-apply-block-row">
						<span>Название и адрес банка:</span>
						<span><input type="text" name="org_bank" value="{{request.COOKIES.apply__org_bank|unescape}}"></span>
					</div>
					<div class="seminar-apply-block-row">
						<span>Кор/счет банка:</span>
						<span><input type="text" name="org_kor_account" value="{{request.COOKIES.apply__org_kor_account|unescape}}"></span>
					</div>
					<div class="seminar-apply-block-row">
						<span>БИК:</span>
						<span><input type="text" name="org_bik" value="{{request.COOKIES.apply__org_bik|unescape}}"></span>
					</div>
				</div>
			</div>


			<div class="seminar-apply-block">
				<div class="seminar-apply-block-title">Почтовый адрес:</div>
				<div class="seminar-apply-block-body">

					<div class="seminar-apply-block-desc">
						<span>Указываются индекс и фактический адрес организации. Необходимо указать тот адрес, который указывался при регистрации в ИФНС.</span>
					</div>

					<div class="seminar-apply-block-row">
						<span>Индекс:</span>
						<span><input class="min-input" type="text" name="p_addr_zip_code" value="{{request.COOKIES.apply__p_addr_zip_code|unescape}}"></span>
					</div>
					<div class="seminar-apply-block-row">
						<span>Область:</span>
						<span><input type="text" name="p_addr_region" value="{{request.COOKIES.apply__p_addr_region|unescape}}"></span>
					</div>
					<div class="seminar-apply-block-row">
						<span>Город:</span>
						<span><input type="text" name="p_addr_city" value="{{request.COOKIES.apply__p_addr_city|unescape}}"></span>
					</div>
					<div class="seminar-apply-block-row">
						<span>Улица, дом, кв./оф.:</span>
						<span><input type="text" name="p_addr_addr" value="{{request.COOKIES.apply__p_addr_addr|unescape}}"></span>
					</div>

					<div class="seminar-apply-block-row">
						<span>Юридический адрес совпадает с почтовым</span>
						<span><input type="checkbox" name="ur_addr_matches" value="yes" {% if request.COOKIES.apply__ur_addr_matches == 'no' %} {% else %}checked{% endif %}></span>
					</div>
				</div>
			</div>


			<div class="seminar-apply-block sem-block-ur-addr">
				<div class="seminar-apply-block-title">Юридический адрес:</div>
				<div class="seminar-apply-block-body">

					<div class="seminar-apply-block-row">
						<span>Индекс:</span>
						<span><input class="min-input" type="text" name="ur_addr_zip_code" value="{{request.COOKIES.apply__ur_addr_zip_code|unescape}}"></span>
					</div>
					<div class="seminar-apply-block-row">
						<span>Область:</span>
						<span><input type="text" name="ur_addr_region" value="{{request.COOKIES.apply__ur_addr_region|unescape}}"></span>
					</div>
					<div class="seminar-apply-block-row">
						<span>Город:</span>
						<span><input type="text" name="ur_addr_city" value="{{request.COOKIES.apply__ur_addr_city|unescape}}"></span>
					</div>
					<div class="seminar-apply-block-row">
						<span>Улица, дом, кв./оф.:</span>
						<span><input type="text" name="ur_addr_addr" value="{{request.COOKIES.apply__ur_addr_addr|unescape}}"></span>
					</div>

				</div>
			</div>


			<div class="seminar-apply-block">
				<div class="seminar-apply-block-title">Руководитель:</div>
				<div class="seminar-apply-block-body">
					<div class="seminar-apply-block-row">
						<span>Ф.И.О.:</span>
						<span><input type="text" name="head_fio" value="{{request.COOKIES.apply__head_fio|unescape}}"></span>
					</div>
					<div class="seminar-apply-block-row">
						<span>Должность:</span>
						<span><input type="text" name="head_post" value="{{request.COOKIES.apply__head_post|unescape}}"></span>
					</div>
				</div>
			</div>


			<div class="seminar-apply-block">
				<div class="seminar-apply-block-title">Список участников семинара:</div>
				<div class="seminar-apply-block-body">
					<div class="seminar-apply-block-row">
						<span>Количество участников:</span>
						<span><input type="text" name="visitors_amount" class="min-input" value="{{request.COOKIES.apply__visitors_amount|unescape}}"></span>
					</div>
					<div class="seminar-apply-block-row">
						<span><a href="#" class="add-visitors">Добавить данные участников</a></span>
					</div>


					<div class="visitors">
						<div class="seminar-apply-block-row">
							<span>Ф.И.О.:</span>
							<span><input type="text" name="visitors_fio[]"></span>
						</div>
						<div class="seminar-apply-block-row">
							<span>Должность:</span>
							<span><input type="text" name="visitors_post[]"></span>
						</div>
						<div class="seminar-apply-block-row">
							<span class='visitors-border'>Мобильный телефон:</span>
							<span class='visitors-border-input'><input type="text" name="visitors_phone[]"></span>
						</div>
					</div>
					<div class="seminar-apply-block-row">
						<a href="#" class="add-another-visitor">Добавить больше участников</a>
					</div>


				</div>
			</div>


			<div class="seminar-apply-block">
				<div class="seminar-apply-block-title">Контактное лицо:</div>
				<div class="seminar-apply-block-body">
					<div class="seminar-apply-block-row">
						<span>Ф.И.О.:</span>
						<span><input type="text" name="contact_name" value="{{request.COOKIES.apply__contact_name|unescape}}"></span>
					</div>
					<div class="seminar-apply-block-row">
						<span>Должность:</span>
						<span><input type="text" name="contact_post" value="{{request.COOKIES.apply__contact_post|unescape}}"></span>
					</div>
					<div class="seminar-apply-block-row">
						<span>E-mail:</span>
						<span><input type="email" name="contact_email" value="{{request.COOKIES.apply__contact_email|unescape}}" required></span>
					</div>
					<div class="seminar-apply-block-row">
						<span>Телефон:</span>
						<span><input type="text" name="contact_phone" value="{{request.COOKIES.apply__contact_phone|unescape}}"></span>
					</div>
				</div>
			</div>


			<div class="seminar-apply-block">
				<div class="seminar-apply-block-title">Комментарий:</div>
				<div class="seminar-apply-block-body">
					<div class="seminar-apply-block-row">
						<textarea name="comment">{{request.COOKIES.apply__comment|unescape}}</textarea>
					</div>
					<div class="seminar-apply-block-row">
						<span><input type="checkbox" name="send_copy_email" value="yes" {% if request.COOKIES.apply__send_copy_email == 'no' %} {% else %}checked{% endif %}> Отправить копию заявки на E-Mail контактного лица</span>
					</div>
					<div class="seminar-apply-block-row">
						<span>Промокод (если есть):</span>
						<span>
							<input type="text" name="promocode" value="{{request.COOKIES.apply__promocode|unescape}}">
							<i class="fa fa-question fa-2x promocode-question-mark" aria-hidden="true"></i>
						</span>
					</div>
				</div>
			</div>

			<div class="seminar-submit">
				<button class="seminar-submit-button" type="submit">Подать заявку</button>
			</div>

		</form>

	</div>

</div>


<script>

	$(document).ready(function(){

		$('.seminar-apply-close').on('click', function(){
			$.fancybox.close();
		});

	});


	$(document).ready(function() {

		var ur_addr_height = $('.sem-block-ur-addr').height();
		$('.sem-block-ur-addr').css('height', '0px');

		if ( ! $("input[name=ur_addr_matches]").prop('checked') )
		{
			$('.sem-block-ur-addr').css('height', ur_addr_height);
			$('.sem-block-ur-addr').css('opacity', '1');
		}

		$("input[name=ur_addr_matches]").click(function() {

			if ($(this).prop('checked'))
			{
				$('.sem-block-ur-addr').animate({ height: '0px' }, 5);
				$('.sem-block-ur-addr').animate({ opacity: '0' }, 'slow');
				$('.sem-block-ur-addr').css('margin-bottom', '0px');
				$(this).val('yes');
			}
			else
			{
				$('.sem-block-ur-addr').animate({ height: ur_addr_height }, 5);
				$('.sem-block-ur-addr').animate({ opacity: '1' }, 'slow');
				$('.sem-block-ur-addr').css('margin-bottom', '20px');
				$(this).val('no');
			}

		});

		$("input[name=send_copy_email]").click(function(){
			if ($(this).prop('checked'))
			{
				$(this).val('yes');
			}
			else {
				$(this).val('no');
			}
		});
	});

	$(document).ready(function(){

		var visitors_height = $('.visitors').height();
		var visitors_content = $('.visitors').html();

		$('.visitors').css('height', '0px');

		$('.add-visitors').click(function(){
			$('.visitors').animate({ height: visitors_height }, 5);
			$('.visitors').animate({ opacity: '1' }, 'slow');
			$('.add-visitors').hide();
			$('.add-another-visitor').css('display', 'block');
			return false;
		});

		$('.add-another-visitor').click(function(){
			$('.visitors').css('height', 'auto');
			$('.visitors').append(visitors_content);
			return false;
		});

	});

	$(document).ready(function(){

		$(document).on('focusout', 'input', function(){
			Cookies.set('apply__'+this.name, $(this).val(), { expires: 1, path: '/' });
		});

		$('textarea').focusout(function(){
			Cookies.set('apply__'+this.name, $(this).val(), { expires: 1, path: '/' });
		});

		setTimeout( function() { $('input[name="org_name"]').focus(); }, 500 );
	});


</script>

{% endif %}


<!-- Yandex.Metrika counter --> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter22043605 = new Ya.Metrika({ id:22043605, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/22043605" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
	(function (d, w, c) {
		(w[c] = w[c] || []).push(function() {
			try {
				w.yaCounter33786709 = new Ya.Metrika({
					id:33786709,
					clickmap:true,
					trackLinks:true,
					accurateTrackBounce:true,
					webvisor:true
				});
			} catch(e) { }
		});

		var n = d.getElementsByTagName("script")[0],
		s = d.createElement("script"),
		f = function () { n.parentNode.insertBefore(s, n); };
		s.type = "text/javascript";
		s.async = true;
		s.src = "https://mc.yandex.ru/metrika/watch.js";

		if (w.opera == "[object Opera]") {
			d.addEventListener("DOMContentLoaded", f, false);
		} else { f(); }
	})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/33786709" style="position:absolute; left:-9999px;" alt="metrika" /></div></noscript>
<!-- /Yandex.Metrika counter -->
