{% load customTags %}

{% if error %}

	<div class="modal-wrap">
		<br /><br /><br />

		<h2>{{ error }}</h2>

		<br /><br /><br />
	</div>

{% elif success %}

	<div class="modal-wrap">
		<br /><br /><br />

		<h2>Вы успешно подписались на рассылки!</h2>
		<h3></h3>

		<br /><br /><br />
	</div>

{% else %}

	<script>
		/*$(function () {
			var $city = $('[name="gt_city"]'),

			$city.kladr({
				type: $.kladr.type.city,
				typeCode: $.kladr.typeCode.city
			});
		});*/
	</script>


	<div class="modal-wrap">
		
		<h2>Подписка на рассылки о семинарах</h2>

		<form class="ajax_default_form" name="ajax_default_form" id="ajax_default_form" action="/ajax/subscribe/" method="POST" onsubmit="return ajaxFormTry($(this));">
			<div class="subscr_type">
				<span>Семинары:</span>
				{% for fz in fz_list %}
					<input type="checkbox" name="seminar_type" value="{{fz.short_code}}" checked="checked">{{fz.name}}<br />
				{% endfor %}
			</div>
			<br />
			<input name="gt_city" type="text" placeholder="Город" title="Город" required="">
			<br /><input name="gt_email" type="email" placeholder="Ваш E-Mail" title="Ваш E-Mail" required="">
			<br /><input type="submit" name="submit_subscribe" value="Подписаться">
		</form>

	</div>

{% endif %}


<!-- Yandex.Metrika counter --> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter22043605 = new Ya.Metrika({ id:22043605, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/22043605" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
	(function (d, w, c) {
		(w[c] = w[c] || []).push(function() {
			try {
				w.yaCounter33786709 = new Ya.Metrika({
					id:33786709,
					clickmap:true,
					trackLinks:true,
					accurateTrackBounce:true,
					webvisor:true
				});
			} catch(e) { }
		});

		var n = d.getElementsByTagName("script")[0],
		s = d.createElement("script"),
		f = function () { n.parentNode.insertBefore(s, n); };
		s.type = "text/javascript";
		s.async = true;
		s.src = "https://mc.yandex.ru/metrika/watch.js";

		if (w.opera == "[object Opera]") {
			d.addEventListener("DOMContentLoaded", f, false);
		} else { f(); }
	})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/33786709" style="position:absolute; left:-9999px;" alt="metrika" /></div></noscript>
<!-- /Yandex.Metrika counter -->