{% load customTags %}

<form class="subscribe_form" name="subscirbe" action="#" method="POST">
	<div class="subscirbe_seminar_type">
		<span>Семинары:</span>
		{% for fz in fz_list %}
			{% autoescape off %}
			<div class="subscribe_seminar_type_checkblock">
				<input type="checkbox" name="seminar_type" value="{{fz.short_code}}" checked="checked" title="{{fz.description|strip_tags}}">{{fz.name}}<br />
			</div>
			{% endautoescape %}
		{% endfor %}
	</div>
	<br />

	<div class="subscribe_region">
		<span class="subscribe_region_button"></span>
		<span class="subscribe_region_chose">Выберите субъект РФ</span>
	</div>
	<div class="subscribe_region_list">
		{% for region in regions_list %}
			<span class="subscribe_region_id" data-id="{{region.id}}">{{region.region_name}}</span><br />
		{% endfor %}
	</div>
	<input name="region_id" type="hidden" title="Выберите субъект РФ">

	<br /><input name="gt_email" type="email" placeholder="Ваш E-Mail" title="Ваш E-Mail" required="">
	<br /><input type="submit" name="submit_subscribe" value="ПОЛУЧИТЬ СКИДКУ!" title="Будет направлено подтверждение подписки и Промо код">
</form>