
.overlay {
	-webkit-transition: opacity ease 0.5s;
	-moz-transition: opacity ease 0.5s;
	-o-transition: opacity ease 0.5s;
	transition: opacity ease 0.5s;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.75);
	z-index: 99;
	text-align: center;
	opacity: 0;
	z-index: -1;
	overflow: auto;
}
.overlay.active {
	opacity: 1;
}
.overlay .pop-window {
	position: relative;
	background: #fff;
	padding: 15px 20px;
	border-radius: 10px;
	display: inline-block;
	text-align: left;
	margin: 20px 0;
}
.overlay .pop-window.closed {
	display: none;
}
.overlay .pop-cross {
	position: absolute;
	right: 20px;
	top: 15px;
	font-size: 20px;
	color: #aaa;
}
.overlay .pop-cross:hover {
	color: #000;
}
.overlay .btn-cont {
	border-top: 1px dashed #ccc;
	padding: 20px 0 10px;
	text-align: center;
}
.overlay .btn-cont .btn-subm {
	-webkit-transition: all ease 0.1s;
	-moz-transition: all ease 0.1s;
	-o-transition: all ease 0.1s;
	transition: all ease 0.1s;
	font: 14px 'Open Sans', sans-serif;
	font-weight: 300;
	display: inline-block;
	background: #1f8dd6;
	border: 1px solid transparent;
	height: 30px;
	line-height: 28px;
	padding: 0 15px;
	color: #fff;
	font-size: 18px;
	border-radius: 5px;
	outline: 0 none;
}
.overlay .btn-cont .btn-subm:active {
	background: #319EE6;
}
.overlay .btn-cont .btn-subm .fa {
	display: none;
}
.overlay .btn-cont .btn-subm.active .fa {
	display: inline-block;
}
.overlay .one-block {
	margin-bottom: 20px;
}
.overlay .one-block .block-title {
	font-size: 18px;
	font-weight: 700;
	padding-bottom: 5px;
	margin-bottom: 10px;
	border-bottom: 1px solid #ccc;
}
.overlay .one-block .block-row {
	font-size: 12px;
	min-height: 40px;
	line-height: 40px;
	margin-bottom: 5px;
	margin-top: 5px;
}
.overlay .one-block .block-row span {
	display: inline-block;
	line-height: normal;
}
.overlay .one-block .block-row span:first-child {
	display: inline-block;
	width: 200px;
	text-align: right;
}
.overlay .one-block .block-row input[type=text] {
	padding: 0;
	height: 20px;
	width: 200px;
	border: 1px solid #aaa;
	border-radius: 3px;
}
.overlay .one-block .block-row input {
	margin-right: 20px;
	margin-left: 5px;
}
.overlay .one-block .block-row input.min-input {
	width: 70px;
}
.overlay .one-block .policy-text {
	width: 500px;
	height: 200px;
	font-size: 11px;
}
.overlay .one-block .block-h2 {
	font-size: 12px;
}
.overlay .one-block .block-h2 .desc {
	color: #aaa;
}

.pop-result .result-text {
	text-align: center;
	font-size: 22px;
}
.pop-result .result-icon {
	text-align: center;
	font-size: 70px;
}











